[2016-12-21 20:23] simonsaysthis commented on #407
I can reproduce this bug on my system. Currently the only theme which is working is Numix

[2016-12-21 20:54] bheru27 commented on #407
That's my fault, i didnt remove the non working  themes in the new build, i was working on getting the other repos from github, or how to compile/install them, i might start a copr repo for it.

[2016-12-23 06:59] stanfieldr opened #412 "spotify crashes"
I am running a fresh install of Fedora 25. Starts up fine. When I type my username/password, it crashes upon submission.

[code]

[2016-12-27 18:27] imgglasses commented on #412
I'm experiencing the same as @stanfieldr . Exact same error. Any ideas how to solve this? or go around this?

[2016-12-28 01:13] bddenhartog commented on #342
@satya164 not to necro a dead thread, but adding that post-receive hook is something I could create and host on one of my clusters; although my schedule is a bit busy right now and this may take some time to perfect, between development and testing.

[2016-12-28 19:16] bddenhartog opened #414 "Cleanup downloaded files as a post-installation step."
Pull request #413 brought something to my attention: it is possible (and probably likely) that various plugins that require downloading a file or several file(s) from remote servers (that are required for plugin installation) might end up leaving those files on the user's filesystem. This isn't very clean, and these plugins should be refactored.

I will be looking into each and every plugin to det

[2016-12-28 19:19] satya164 commented on #414
This is similar to how package managers keep downloaded packages. You could copy them over to a new machine, and if you for some reason uninstall and reinstall it'll be fast. Can also help in case install failed due to partial download (since `wget` has the `-c` flag, it'll continue the download).

We have a standardised cache directory, so it's easy do delete old cache. I think we just need a plu

[2016-12-28 19:20] bddenhartog commented on #412
I'm unable to recreate this on a new F25 installation.

Please provide the output of the following commands:

* `uname -a`
* `dnf installed libcurl-compat`
* `which spotify`
* `cat /usr/bin/spotify`

[2016-12-28 19:24] bddenhartog commented on #414
Okay, thanks for that info. I haven't had the time to dig through the Fedy framework yet, but I'll be sure to do that. The particular PR in my initial comment simply downloads the file to the user's current directory, and my concern is that other plugins do the same; I'll hold off from making any changes until I look into the caching system.

[2016-12-28 20:44] bddenhartog commented on #364
@jacek99 as bheru asked, are you able to let us know what steps you took to install, if different at all from the [headless instructions](https://www.dropbox.com/install-linux#linux-install-content)?

[2016-12-29 00:44] stanfieldr commented on #412
I just reproduced this after reformatting the Mac Air with F25. My desktop had F25 installed via a reformat as well.

uname -a
[code]
which  spotify
[code]
cat /usr/bin/spotify | head -n1
[code]
ls -l /usr/bin/ | grep spotify
[code]

The package libcurl-compat doesn't exist.

[2016-12-29 00:58] bheru27 commented on #412
@stanfieldr search it with "dnf search libcurl" see what you need, install it and see if it works, give feedback so it gets changed :)

[2016-12-29 10:52] Abhinav1217 commented on #407
Evopop and arc theme from copr is not yet built for F25.

 @bheru27 I have already started updating the plugins, I will upload them after testing. Since I did a clean format, I will have to create new set of VMs for testing, so it will take some time before I push a PR.  Here are the links i am using if you want to work with it.

Solus has reworked on [evopop theme ](https://github.com/solus-proje

[2016-12-29 13:11] satya164 commented on #407
@Abhinav1217 I believe Numix themes are in official fedora repos now.

[2016-12-31 11:52] Abhinav1217 commented on #407
Great. So numix in fedora repos are fully updated one.
What about ozon themes, will you work on updating them.  I am interested in rebooting them in folkswithhats organization. If you or someone could provide some build instructions, maybe we can revive them. Now since gnome-shell guys has said they won't have breaking changes every release, it should be a bit easier to maintain now.

[2016-12-31 12:40] satya164 commented on #407
@Abhinav1217 Ozon is abandoned. I'm not planning to work on it anymore and I don't know anyone else who does. If someone wants to take over, I'm happy to provide build instructions.

[2016-12-31 21:34] bddenhartog commented on #412
@stanfieldr Did you close this issue because installing libcurl resolved the issue, or simply because the PR was closed?

I want to make sure we keep issues open until a solution is provided.

[2016-12-31 21:46] stanfieldr commented on #412
Just because the PR was closed. Also noticed would need compat-openssl which is in the repo the spotify plugin is currently using now in order for my PR to work. And there was a good point about being able to update via dnf update, so I just went ahead and closed it lol

[2016-12-31 21:47] bddenhartog commented on #412
@stanfieldr Right - I agree with the reasoning behind closing the PR, but it sounds like this issue is still valid until a solution is available :P

[2016-12-31 21:51] bddenhartog commented on #149
@Abhinav1217 @satya164 @bohoomil Is there an update on this? I'm going through the older issues and trying to ascertain what can/should be closed or not.

[2016-12-31 22:34] bheru27 commented on #149
I could setup a copr repo (with some help because i dont know how to do it) but im willing to maintain it

[2016-12-31 22:34] bheru27 commented on #149
Wops, sorry

[2017-01-06 07:30] Abhinav1217 commented on #412
Can someone confirm this issue is not due to wayland being default in Fedora 25 Gnome shell.   So far for me Spotify is working in non gnome spins, but crashing in Gnome wayland. https://wiki.gnome.org/Design/OS/MessageTray/Compatibility does not list spotify as issue, in wayland because legacy tray is not supported, a lot of my apps are randomly crashing in wayland.

[2017-01-07 02:10] stanfieldr commented on #412
I can confirm it crashes on X with Gnome

[2017-01-09 16:09] Abhinav1217 commented on #412
A thought to think about !!  Just found out that Spotify is now in fedora repos from Fedora 25, It does not have any issues in any spin, or in wayland.

Our script uses installation from http://negativo17.org/ which is, on my tests, showing issues on wayland on Fedora 25, working with few random crashes in F25 gnome x.org, and working with no issues in other F25 spins and F24 gnome-x.org .

How ab

[2017-01-10 02:16] bddenhartog commented on #397
Re-opening this so the PR that I'll be sending through tonight links to a proper issue.

[2017-01-13 15:14] Abhinav1217 commented on #149
@bddenhartog We were kind of stuck with this because of _is it needed anymore or not_ situation. Our font-config, although is old script, works really great. We do incorporate lots of technique from fontconfig ultimatium but at that time, we could not depend on infinality repos.

This issue was added during F20-21 era when gnome changed a lot of things daily and fedora in its default, had issues w

[2017-01-13 15:16] Abhinav1217 commented on #407
Please provide build instruction ( detailed one if possible ) and let us revive the themes under folkswithhats banner. We can think of a different name if using Ozon is not possible.

[2017-01-13 15:19] Abhinav1217 commented on #407
@bheru27 Have you updated the plugins with new links?

[2017-01-13 15:36] Abhinav1217 commented on #212
What outdated version? Adobe has finally decided to maintain flash plugins for linux once again. I now have flash 24.xx for both flash-player and flash-plugin. one was installed with fedy, other was installed by command. But repo for both is same one which was installed by fedy

I was an absentee, for current release, this release is pushed by @bheru27 . Because of my absence, he had to push fedy

[2017-01-13 15:42] Abhinav1217 commented on #391
Fedy website has now fully on https. We can close this now. Some scripts using 3rd party links may still be on http but that is beyond our control. I don't think if there is any urgent need for gpg check at this point.

[2017-01-13 15:42] #391 closed

[2017-01-13 15:44] Abhinav1217 commented on #392
Can we close this? have we moved to new copr?

[2017-01-13 16:04] bddenhartog commented on #391
The accurate statement is that https is now _available_ on folkswithhats.org. To enforce HTTPS connection (which we want to do), a server block needs to be set up to redirect HTTP traffic to https. Here's an example server block that will redirect all requests made to the server to the https version of the host:

[code]

If you only want to handle a specific host, change the value of the `server_n

[2017-01-13 16:09] bheru27 commented on #391
Some people argued that such redirection was causing trouble when downloading packages, so i decided to keep it without it, the bash script does have the https tho

[2017-01-14 13:59] satya164 commented on #407
Build instructions are in the README in the repo. It's nothing complicated. Let me know if it doesn't work.

Using the name Ozon shouldn't be a problem, but it's better to talk to @Foggalong if you want to use the name.

[2017-01-14 14:01] bheru27 commented on #407
No I havent, let me rebuild everything now

[2017-01-14 17:19] genodeftest commented on #391
Me too. Please enforce at least HTTPS or PGP signatures, preferably both. This bug is still fully present.

[2017-01-14 22:02] bddenhartog commented on #391
@genodeftest, to be clear, I was talking about enforcing HTTPS across the website. There is no way for us to enforce that plugins are hosted on servers that serve over secure http.

[2017-01-15 17:50] danstewart commented on #405
There is a PR for this on the dev repo:
https://github.com/folkswithhats/fedy-plugins-developers/pull/30

[2017-01-15 18:37] danstewart commented on #412
Negativo one is working for me now.

[2017-01-16 05:31] Abhinav1217 commented on #412
@danstewart  Even on wayland?

[2017-01-16 07:06] danstewart commented on #412
@Abhinav1217 is there any way to check other than the gear on the log in page? The log in page shows Gnome, not Gnome Xorg.

[2017-01-16 07:42] bddenhartog commented on #412
I'll have a PR out for this in a bit, wrapping some things up this evening. I had some surprise car trouble that ate up a day this weekend :1st_place_medal:

@Abhinav1217 @danstewart I ran a semiautomated test suite to install every plugin and fail if any fail to install. I had a few, but they are the same that fail to install when running via the GUI. I'm going to be working on building a travis.

[2017-01-16 12:03] bddenhartog commented on #405
@danstewart given that #416 will be merged in at the `fedy-plugins-developers` repo will be deprecated, I think it makes sense to keep this issue here (saves me time migrating issues :thumbs-up:)

[2017-01-16 16:23] #397 closed

[2017-01-16 19:54] danstewart commented on #412
@bddenhartog Let me know if I can do anything to help, don't have much experience with that though.

[2017-01-16 20:19] bddenhartog commented on #412
@danstewart will do - thanks for the offer!

[2017-01-16 21:27] bddenhartog opened #419 "Fix GitKraken installation"
Originally reported in folkswithhats/fedy-plugins-developers#35 by @ben-lei

[2017-01-16 21:39] bddenhartog commented on #419
Please see folkswithhats/fedy-plugins-developers#37, originally opened by @delphiki

[2017-01-16 21:42] sudoforge opened #420 "Add Unity3D"
Originally reported in folkswithhats/fedy-plugins-developers:

@bil-elmoussaoui

@Abhinav1217

@danstewart

[2017-01-16 21:46] bddenhartog commented on #313
I'm closing this as F23 reached end-of-life on 2016-12-20: http://fedoraproject.org/wiki/End_of_life

[2017-01-16 21:56] bddenhartog commented on #256
@metabsd "better solution" is subjective; I think both pale in comparison to the quality of Mumble :)

If you'd like to see Discord in Fedy, please create a separate issue. Thank you!

[2017-01-16 22:11] bddenhartog commented on #283
Should this be closed? F22 reached end-of-life 2016-07-19: http://fedoraproject.org/wiki/End_of_life

[2017-01-16 22:13] bddenhartog commented on #190
@satya164 Any idea what the status on this is?

[2017-01-18 01:37] sudoforge opened #422 "Enable community plugins"
We receive a lot of issues and pull requests for plugins that we do not, for one reason or another, accept as an official plugin. Usually, this is because the plugin fits a niche role, or there are already alternatives in Fedy, or the plugin isn't actively maintained (or at least, not maintained as actively as we want). Ultimately, this is detrimental to the community as a whole, as users miss out

[2017-01-18 20:18] danstewart commented on #420
Looks like there's now an official beta platform-agnostic shell script to install this.
It is 2.2GB though...

Looks like that thread linked above:
https://forum.unity3d.com/threads/unity-on-linux-release-notes-and-known-issues.350256/

Is still where the latest download link will be.

[2017-01-18 20:29] danstewart commented on #420
It also has the following lines:

[code]

We can specify the extract dir using the `-o` or `--output` flags.
I'm not aware of any easy way to ignore the read line outwith using sed or perl to remove it (`s/read meh//g`).

After this it extracts the file (which is within the shell script) and then tells you to run it - so I'm guessing it's probhably a graphical installer.

[2017-01-18 20:30] satya164 commented on #420
This sounds like a candidate for the community repo.

[2017-01-18 20:54] bddenhartog commented on #420
Agreed - flagged it for now (so it is easily discoverable in the future when community repo is implemented)

[2017-01-19 05:23] WolfangAukang commented on #419
I tried today to install Gitkraken through Fedy and saw that the link to the Gitkraken binary isn't being generated.

On line 18 of gitkraken.plugin, it shows this:

`ln -sf "/opt/GitKraken/gitkraken" "/usr/bin/gitkraken"`

But my opt folder shows gitkraken, all lower case.

But before seeing this, I changed the Exec line of the desktop file, directing it to /opt/gitkraken/gitkraken, and it showed

[2017-01-19 05:28] WolfangAukang opened #424 "Failed installing Rambox"
When I try to install Rambox, the following happens:
[code]

[2017-01-19 05:33] bddenhartog commented on #283
Closing - reported version of Fedora is not officially supported.

[2017-01-19 05:33] #283 closed

[2017-01-19 05:35] bddenhartog commented on #407
@bheru27 can I get a status update?

[2017-01-19 05:50] bheru27 commented on #407
What? @bddenhartog ? I did a new build yesterday, update your repos

[2017-01-19 06:05] bddenhartog commented on #407
I changed the label to `bug (confirmed)` simply because the `bug` label was on it before (which was changed to `bug (unconfirmed)`. Thanks for reminding me that this should be closed!

[2017-01-19 06:05] #407 closed

[2017-01-19 08:23] delphiki commented on #419
@WolfangAukang The bug was fixed in the other repo with this PR: https://github.com/folkswithhats/fedy-plugins-developers/pull/37, but wasn't reported here.

[2017-01-19 20:34] Foggalong commented on #407
@Abhinav1217

Originally when Ozon merged into Korora the idea was that at some unspecified point in the future the theme suite would ship was default in their distro. This largely relied on me having time to bring the icon theme up to scratch and making sure the GTK theme worked with the latest version (which in turn depended on me learning how GTK theming works). Since then things have happened

[2017-01-19 21:26] #419 closed

[2017-01-22 01:26] bddenhartog opened #426 "Fix uninstallation scripts using rm to remove files/directories"
# Description

In some uninstall scripts/commands for various plugins, `rm [options] /path/to/whatever` is used to remove files or directories added when installing the plugin. This sometimes causes an additional prompt asking the user to confirm the removal of the file/directory, and then uninstallation of the plugin would fail.

We first saw this reported in the discussion of PR #393, by @danste

[2017-01-22 01:35] bddenhartog opened #427 "Add powerline"
Add a plugin for `powerline`, and set all users (including `root`) up with a default configuration.

[2017-01-22 05:13] satya164 commented on #426
I'm thinking if it's possible to override the alias instead of having to change all scripts

[2017-01-22 05:20] bddenhartog commented on #426
Yes, but it would be cleaner to simply use the full path to the binary. Overriding the alias seems hacky.

[2017-01-22 09:24] satya164 commented on #426
Don't think so. You've to remember to do it in every script. Overriding the alias once in `run-as-root` is much simpler.

[2017-01-22 09:40] satya164 commented on #426
I think it boils down to this, unaliasing is very simple fix without any downsides (?). why do you think it's hacky? changing every script is a much more invasive change. I'd always go for the simpler fix as long as it doesn't have any downsides.

[2017-01-22 13:25] bddenhartog commented on #426
IMO, the full path is what should have been used in the first place. Not doing so is why the alias causes issues for us in the first place.

Overriding it creates additional code that we need to maintain, and who knows if it will always be necessary - say the alias is removed in a future version of Fedora, we would then have unnecessary cruft.

I see it just like aliasing imports in other programm

[2017-01-22 13:57] satya164 commented on #426
Why? Use `/usr/bin/wget` for `wget`, `/usr/bin/dnf` for `dnf`? Doesn't feel right. That's why the OS provides abstractions over them `PATH` and aliases, let's use them.

It's one line of very simple code and hardly adds any maintenance cost. Using absolute path everywhere however, adds complexity to individual plugins because now each of the plugins have to be aware that `rm` is actually an alias

[2017-01-22 16:56] bddenhartog commented on #426
I totally understand where you are coming from; it's just that I see the shorthand usage of `rm` as the alias to be removed (or, to match your example, polyfill.)

That's probably just a byproduct of my shell scripting experience, where full paths to binaries are often preferred, since the user can override what `rm` does but not `/usr/bin/rm` -- using the full paths to binaries while writing cros

[2017-01-22 17:16] satya164 commented on #426
Even if you don't remove it in future, what's the downside of just overriding it as opposed to introducing additional maintenance overhead, i.e. requiring all plugins to know about the implementation detail that behaviour of `rm` is different and requiring extra work to ensure every plugin does it during PR review?

I don't see why unaliasing shouldn't be the preferred solution, given the downside

[2017-01-22 21:12] bddenhartog commented on #426
Fair point, and as I mentioned, I can see how it would increase difficulty for contributors/reviewers because we don't enforce that all binaries are called with the full path. I'll update the task description.

[2017-01-23 01:06] bddenhartog commented on #335
@Abhinav1217 This looks to still be an issue. Any update on this?

[2017-01-24 00:08] danstewart commented on #424
Replicated:
[code]

[2017-01-26 05:41] Abhinav1217 commented on #424
The URL format have been changed. Why are we using .tar.gz when it provides .rpm.

[2017-01-26 05:44] Abhinav1217 commented on #427
F25 comes with powerline preconfigured. Do we still need this plugin?

[2017-01-26 06:05] Abhinav1217 commented on #332
I couldn't replicate it at that time, and not F25 either. I used OpenVPN for proxy. @bddenhartog  If you can replicate it, we can keep it open, or else we can close it.

[2017-01-26 06:16] Abhinav1217 commented on #412
@danstewart There should be three option, Gnome, Gnome Classic, Gnome on XOrg. Choose Gnome on XOrg, If you can see notification icon tray in the bottom left corner, It is XOrg.

[2017-01-26 11:25] delphiki opened #428 "Replace Jetbrains applications with Jetbrains Toolbox App"
As mentioned in PR https://github.com/folkswithhats/fedy/pull/425, the following apps' plugins will be removed from fedy in favor of the new [JetBrains Toolbox App](https://www.jetbrains.com/toolbox/app/) plugin, which makes it a lot easier to manage the JetBrains apps:
* clion.plugin
* intellijideacommunity.plugin
* intellijideaultimate.plugin
* phpstorm.plugin
* pycharmcommunity.plugin
* pycharm

[2017-01-26 15:23] delphiki commented on #424
They didn't provide rpm at the time I submitted the plugin, if I recall correctly.
I'll submit a PR to fix this.

[2017-01-26 20:50] meghprkh commented on #332
@Abhinav1217 On Fedora 25, it seems to work! I installed Numix theme using Fedy

[2017-01-27 09:30] Abhinav1217 commented on #332
OK then, I will close it.

[2017-01-27 09:30] #332 closed

[2017-01-27 10:10] Abhinav1217 commented on #424
Great, Waiting for a pr.

[2017-01-27 14:51] #424 closed

[2017-01-27 15:10] Abhinav1217 commented on #427
Closing this issue as discussion can be done on the PR itself.

[2017-01-27 15:15] Abhinav1217 commented on #428
Closing this as discussion is being done on PR itself.

[2017-01-27 15:17] Abhinav1217 commented on #426
Any work done on this @bddenhartog ?

[2017-01-27 15:19] Abhinav1217 commented on #426
Changing Lable from plugin to core as it is convenient to add unalias in the core than to change all the plugin scripts.

[2017-01-27 16:33] bddenhartog commented on #428
This is not why issues should be closed. Issues should be closed when the solution is merged, and that happens automatically when the pull request is approved and merged in with an appropriate `Closes #X` message.

[2017-01-27 17:05] bddenhartog commented on #427
This is not why issues should be closed. Issues should be closed when the solution is merged, and that happens automatically when the pull request is approved and merged in with an appropriate `Closes #X` message.

Discussion around the _why_ happens in the issue. PR comments should strictly be about the _how_, or implementation -- more specifically, about adjustments to how the contributor implem

[2017-01-28 16:30] Abhinav1217 commented on #407
@Foggalong

Hi, Sorry it took me so long to see this. Just two nights ago, I was thinking about how to reboot a fork of Ozon and original evopop theme here under folkswithhats. Lack of resource on GTK theming is a big demotivator. Most of the stuff I find is quite old. Using Adwaita theme as a reference is really a bad choice but I can't see any other option.

Can we do it here under FWH? It would

[2017-01-28 18:52] satya164 commented on #407
I think it'd make more sense under numix organization

[2017-01-29 13:41] Abhinav1217 commented on #407
If you think so. I was just thinking FWH should have more than just fedy. That was the reason for you to choose new name, remember.

[2017-01-29 16:12] Foggalong commented on #407
@Abhinav1217 It might just be me, but it feel kinda weird that a theme suite and a repository/package installation application would be maintained under the same org. They're very different projects

[2017-01-29 16:16] satya164 commented on #407
@Abhinav1217 we chose a new name so that we could have more software/tools etc. I think numix is more suitable for a theme. there are already theme developers and cotributors in numix. so ozon will be more benefited from being under numix than fedy. it might just die eventually under folkswithhats.

[2017-01-29 23:29] thawkins opened #431 "Installing chrome produces no visible Launcher"
When installing chrome via fedy latest on fedora 25 fully updated, the installer runs to completion, but does not add any Launcher.

a subsequent

$sudo dnf reinstall google-chrome-stable

Produces an install with a Launcher

Note: a Launcher for the "ChromeApps" thingy that allows you to run extensions separate from chrome is installed.

opening a terminal and typing

$google-chrome &

also works

[2017-01-30 07:13] Abhinav1217 commented on #431
Didn't google retire it. https://blog.chromium.org/2016/03/retiring-chrome-app-launcher.html.
As for separate chrome app launching, They are all available in the OS's app menu. Look at the screenshot of my Gno-menu where you can see chrome app category.

![Gno-menu Chrome app category](https://cloud.githubusercontent.com/assets/740584/22414780/4fe8fa24-e6e8-11e6-8698-bfbaff0a6edf.png)

 and My Gno

[2017-01-30 08:47] Abhinav1217 commented on #407
You are right. Ozon or Numix it is. I have Ozon shell theme in red and blue theme. And a version of original evopop gtk theme ( one which had colored buttons for max,min,close ) slightly updated to have better file progress dialog in nautilus.  Ozon icon theme works well, I don't know if there is any need for update.

[2017-01-30 18:11] Foggalong commented on #407
@Abhinav1217 Icon theme was originally set up to be mostly used for apps which were already on the system, so is missing a lot of symlinks for things that aren't.

[2017-01-31 23:17] dralley opened #432 "Add the "Adapta" theme by tista500"
https://github.com/adapta-project/adapta-gtk-theme

Optional wallpapers: https://github.com/adapta-project/adapta-backgrounds

COPR available here: https://copr.fedorainfracloud.org/coprs/heikoada/gtk-themes/

[2017-01-31 23:21] dralley opened #433 "Add Plex Media Server"
Plex is a personal media server for streaming your own music, videos, and other media.  Packages are available for all sorts of linux distributions.

Proprietary

https://www.plex.tv/

[2017-01-31 23:24] dralley commented on #432
Note that the COPR also includes the Arc and Paper themes

[2017-02-01 02:22] #428 closed

[2017-02-01 19:29] dralley commented on #392
Any updates on this?

[2017-02-03 09:19] danstewart commented on #405
Just noting that for the firefox built in updates to work after install we'll have to `chown` the install dir.
There was a PR on the dev repo but it's been deleted now so it will have to be readded here.

Is this something we want in the core plugins list or should it just be saved for the community plugins?

[2017-02-03 09:23] danstewart commented on #392
@dralley Not yet.

@bheru27 Not sure what you meant about the two copr repos? I think the best way to handle it is to just run the test for the other plugin and if it's enabled don't disable the copr - though it's a little clunky.

Any ideas?

[2017-02-09 23:56] ehouarn-perret commented on #399
Makes sense, thanks for pointing this out.
(sorry bout my late reply though)

[2017-02-16 01:15] bddenhartog commented on #431
@Abhinav1217 To clarify, @thawkins is talking about the `.desktop` file for Chrome that should be produced when installing via Fedy. I've tested and confirmed this bug.

[2017-02-18 20:16] loop0 commented on #431
I can also confirm this bug. Installed Fedora 25, installed Fedy and then installed chrome, but no way to open it, only by executing `/opt/google/chrome/chrome` directly.

[2017-02-20 05:40] Abhinav1217 commented on #431
I tested it several times last night, I couldn't reproduced it. I get desktop entries and menu entries everytime on Gnome, KDE, and XFCE. Even used a fresh Gnome-F25.

@loop0 Can you give me your terminal output by running fedy via terminal and then running the plugin.

[2017-02-20 05:47] Abhinav1217 commented on #431
@bddenhartog Can you also give your terminal output, Since I can't reproduce it on both wayland and xorg.
Are you using wayland or xorg.

thawkins mentioned

That is why I assumed it was talking about the chrome launcher which used to be installed with chrome, acting as a application menu for chrome apps.

[2017-02-27 17:22] vbsteja commented on #313
Guys, i am using F25, same problem faced when tried to setup the better font rendering, any update on this?

[2017-02-27 17:41] bddenhartog commented on #313
@vbsteja I was able to run it successfully on my workstation, but I haven't tested it on a brand new installation yet. Can you give me a bit more information to help me debug this for you?

- What DE are you using? Gnome, cinnamon, etc.

- Are you receiving the same `No such schema` error?

[2017-03-01 06:24] vbsteja commented on #313
@bddenhartog i am using Cinnamon DE. yes i am getting the same error running from the Terminal. on the other side i tried with installing gnome and setting up the fonts and got the same error.

 i have heard the  fontconfig-ultimate are better in rendering, any news including them in repos? or already included?
thanks.

[2017-03-02 16:54] 412andrewmortimer opened #434 "Network timeout. folkswithhats.org"
Trying to curl, as per the one-liner on http://folkswithhats.org/ or trying to manually accomplish the tasks of the installer failure is reached due to network timeout.

Using Fedora 25. Can provide other details if asked.

[code]
[code]

[2017-03-02 17:00] bddenhartog commented on #434
@412andrewmortimer Looks like it is currently down. We're investigating and will report back when we have more information.

In the mean time, if you'd like to use Fedy, I'd recommend running the commands within the installation for each plugin you need manually. You can get this by looking at the `install.sh` script in each plugin's directory, e.g. `/plugins/{plugin_name}/install.sh`.

[2017-03-02 18:32] 412andrewmortimer commented on #434
Thank you! I'll be checking back for sure. Thank you for providing alternatives for the meantime. I appreciate it.

 :smile:

[2017-03-03 01:15] bddenhartog commented on #434
The website has been down due to an issue caused at the provider's level. Plans are in place to migrate the website to a more stable environment this evening (a few hours from now).

We apologize for any issues this may have caused anyone. Using `curl | sudo sh` to access the scripts directly from this repository (as shown [in a previous comment](https://github.com/folkswithhats/fedy/issues/434#is

[2017-03-03 04:43] bddenhartog commented on #431
@Abhinav1217 The only output is from the packages installed via `dnf`. I've narrowed the issue down to [these lines](https://github.com/folkswithhats/fedy/blob/master/plugins/chrome.plugin/install.sh#L8-L17), which add a `StartupWMClass` parameter to all three service groups.

For some reason, my `/usr/share/applications/google-chrome.desktop` file had two `StartupWMClass` definitions _above_ the

[2017-03-03 08:06] Abhinav1217 commented on #431
It is confusing. I don't have `StartupWMClass` definition on my .desktop file. I did fresh install in a Gnome and KDE vm and found that there in KDE there is a definition and it is proper, but on Gnome there is none.

I ran the fixer portion of the script directly on command line and then I have definitions on Gnome VM but not no my host gnome DE.

[2017-03-03 08:28] Abhinav1217 commented on #313
In my tests, I got errors in Gnome Xorg and Cinnamon, but not on KDE and Gnome Wayland. So I will search for if gnome guys made some Xorg incompatiable changes for wayland support .

[2017-03-03 08:32] Abhinav1217 commented on #313
@vbsteja We have taken lots of tipes from fontconfig-ultimate in our own font-config. There has been somewhat discussion at #149 about this which you can check.

[2017-03-03 15:32] bddenhartog commented on #434
Sorry for the delay, I fell asleep. Site is up and running in a more stable environment; we shouldn't have any significant downtime in the future.

[2017-03-03 15:32] #434 closed

[2017-03-03 16:03] AlexandreDecan commented on #434
Could you please confirm that https://www.folkswithhats.org/repo/25/RPMS/noarch/folkswithhats-release-1.0.1-1.fc25.noarch.rpm is supposed to be available right now? Because I'm getting a 404 status code...

[2017-03-03 16:05] AlexandreDecan commented on #434
Oh, and while I can access to the website, downloading the installer lead to having ``fedy-installer`` contains the following:

[code]

One possible explanation is that you updated the DNS of folkswithhats.org... if so, I just have to wait a bit ;)

[2017-03-03 16:34] bddenhartog commented on #434
@AlexandreDecan

Oops! I took over hosting the website, and wasn't aware that the repositories should have been bundled with those (maybe I should have looked at `fedy-installer`... `>_<`).

The RPMs are now available.

You're seeing this because you're trying to download the installer over `http` without following redirects. `https` is enforced across the website, as (to my knowledge) has been fo

[2017-03-03 17:17] jonnjonzzn commented on #434
I'm getting this now:

"Failed to synchronize cache for repo 'folkswithhats', disabling."

[2017-03-03 17:27] bddenhartog commented on #434
@jonnjonzzn Likely due caching of DNS/NS records on your workstation or on some host in between you and the server.

We changed the nameservers last night (about 24 hours ago), so changes should be propagated to most hosts. Are you able to try again in a few hours and let me know if it's working for you? I'm not having any connectivity issues here.

[2017-03-03 17:30] bddenhartog commented on #434
@jonnjonzzn Try running `dnf clean all` and try updating again.

[2017-03-03 19:45] AlexandreDecan commented on #434
Indeed, I can download them now. Thank you!

I cut&pasted the command displayed on the website which leads to a syntax error (because of the HTML). Even when I try to manually download fedy-installer (both on https or http), I get the same file.

I don't own any local DNS cache, and I assume this is not the problem, because folkswithhats.org is properly resolved. Could you please check that https:

[2017-03-03 19:55] bddenhartog commented on #431
I've determined the issue: It appears the section names were changed at some point, so `grep` and `sed` don't match on anything. I've got a working local fix that I'll create a PR for shortly, with additional modifications to help protect against changes like this in the future (and provide error messages so we have useful debugging output in the event we fail to add the `StartupWMClass` entries f

[2017-03-03 19:59] satya164 commented on #434
Every system has a DNS cache - https://www.cyberciti.biz/faq/rhel-debian-ubuntu-flush-clear-dns-cache/

I'm getting the correct file

[2017-03-03 20:02] bddenhartog commented on #434
@AlexandreDecan

Aha! That url is actually now incorrect and needs to be updated. All traffic (insecure, secure) is now forwarded to `https://www...`, which is different behavior from before. Adding the `-L` option to `curl` would allow you to follow the redirect and get the proper contents.

@AlexandreDecan

Yeah, we're aware of this issue but don't have a fix right now. I'm able to recreate this

[2017-03-03 20:17] AlexandreDecan commented on #434
Thanks for the answers @bddenhartog !

Ok. While I understand why ``curl`` needs this extra parameter, I don't understand why my Firefox is not able to follow the redirection :) Btw, the ``fedy-installer`` available in the github repository made it for me (or at least, it solved this step ^^). Maybe you should consider updating the command-line on the website (either to add -L, or to adapt the URL

[2017-03-03 20:41] bddenhartog commented on #434
@AlexandreDecan

I'll take a look at this, thanks for the suggestion. One issue I see with this is leaving garbage behind after installing, but I plan on refactoring the installation process pretty soon anyhow. Perhaps downloading to `/tmp` or otherwise avoiding deletion if a CLI argument (something like `--keep-installer`) is passed might be better solutions than what we're currently doing.

Yup!

[2017-03-03 20:42] bddenhartog commented on #434
Actually, as I was typing that out I did some additional sanity checks and found the issue. I'll be able to apply the fix in about an hour and a half.

[2017-03-03 23:21] bddenhartog commented on #434
The issue should be resolved now. Make sure you rebuild your metadata cache by executing `dnf makecache`. If you're still experiencing issues, leave a comment here.

[2017-03-04 03:32] vbsteja commented on #313
thanks @Abhinav1217, looking forward for your findings in Cinnamon and Gnome Xorg.

[2017-03-04 06:13] satya164 commented on #434
We could change the instructions on the website so that it downloads the script in memory and executes rather than saving as a file. In that way be default no extra files are left and people can download the file if they want to without having to know extra CLI argument.

[2017-03-04 09:28] AlexandreDecan commented on #434
thanks for the fix, @bddenhartog!

[2017-03-04 13:53] ltelmo opened #436 "Install issue with script"
It sems the install script is borked at moment, It will not install cannot find items and fails

Thanks for the great item that lets me use Fedora!

[2017-03-04 17:32] bddenhartog commented on #436
Can you provide any more details? Can you post the command you ran? The displayed command was recently updated to `curl | sudo bash`, if you didn't run that then clear your cache, refresh the page and try the displayed command again.

[2017-03-04 17:36] ltelmo commented on #436
when coping and pasting the command to install Fedy from the webpage it starts asks for password and then fails do to unable to find which i cant quite remember repo or something then exits .
This started after Fedy was unreachable earlier in the week no when reinstalling on a new install of Fedora this is what is happening
Thankyou

[2017-03-04 17:41] bddenhartog commented on #436
This sounds like you ran the previous command that was displayed, something like `bash -c 'su -c "curl ..."'`. This command (which has since been removed from the website) invokes `su`, which (by default) assumes the identity of `root`. That's the password you were being asked for -- not your user's password.

This is all moot, of course, since the command has been updated to . You'll still be ask

[2017-03-04 17:41] #436 closed

[2017-03-04 17:49] ltelmo commented on #436
okay thank you very much i see the web page has refreshed and changed, i wil try it

[2017-03-04 20:00] bddenhartog commented on #433
I should be able to start working on this tomorrow.

[2017-03-05 11:13] FDiskas opened #437 "Toolbox for JetBrains products"
Hi,
thanks for great app. Please add toolbox for all JetBrains products.
With this app you can easly download anny product. So for example "Android Studio" is no more needed in the plugins list.
Here is a webpage https://www.jetbrains.com/toolbox/app/

[2017-03-05 11:24] FDiskas commented on #437
Sorry - updated and there is already done. So please close this feature request. Thanks again

[2017-03-05 11:24] #437 closed

[2017-03-06 17:09] danstewart commented on #432
I wish I knew about the copr before I installed it manually yesterday.
I'll get this added tomorrow.

[2017-03-07 12:21] danstewart commented on #432
Looks like the copr is currently failing for adapta:
https://copr.fedorainfracloud.org/coprs/heikoada/gtk-themes/package/adapta-gtk-theme/

I'll try adding a plugin to add it manually.

[2017-03-07 13:01] Abhinav1217 commented on #313
@vbsteja Gnome is not really known for its documentations, and google search is not helping much. Even more confusing, I took a fresh Gnome VM and I did not face any error on Xorg session.  But this was before I did system update. On a VM after running system update, I got the error. So its a progress.

[2017-03-07 13:01] Abhinav1217 commented on #313
@vbsteja Gnome is not really known for its documentations, and google search is not helping much. Even more confusing, I took a fresh Gnome VM and I did not face any error on Xorg session.  But this was before I did system update. On a VM after running system update, I got the error. So its a progress.

[2017-03-07 13:37] danstewart commented on #432
@dralley Building manually takes a while so talking to the others about what we should do with this.
I've got a working install script if you want it though.
Gist: [adapta-gtk-theme-install.sh](https://gist.github.com/danstewart/179ca94277a3a6a4147b5709dec21602)

[2017-03-07 21:18] RafalSkolasinski opened #439 "Readme needs updated installation instructions"
A installation [script](https://www.folkswithhats.org/fedy-installer) seems unavailable
[code]

[2017-03-07 21:26] bddenhartog commented on #439
Where are you encountering this? The script is simply named `installer`, not `fedy-installer` like the URI you linked to. Follow the installation instructions on www.folkswithhats.org should result in a successful installation.

[2017-03-07 21:39] RafalSkolasinski commented on #439
seems like link in readme: https://github.com/folkswithhats/fedy/blob/master/README.md#installation is out of date

[2017-03-07 21:52] bddenhartog commented on #439
Thanks @RafalSkolasinski. I'll get the readme updated shortly (really, it should just direct users to the website).

[2017-03-07 21:54] RafalSkolasinski commented on #439
No problem!

[2017-03-07 21:55] bddenhartog commented on #431
Closing manually because the commit referencing this issue did not contain a properly formatted message to auto-close when merged, and no "closes x" message was added to the merge commit.

[2017-03-07 21:55] #431 closed

[2017-03-08 06:09] #439 closed

[2017-03-08 10:20] maweki opened #441 "Handbrake repo is gone"
The handbrake repo is gone and install no longer works

http://negativo17.org/repositories/

[code]

[2017-03-08 16:35] danstewart opened #442 "Some uninstallation scripts that use rm fail"
When uninstalling programs that try to delete from certain directories I get a popup asking me to confirm it's ok to delete but it fails anyway and outputs no errors.

Popup: https://imgur.com/a/ZpSU0
Failure and (lack of) console output: https://imgur.com/a/XRlPM

List of plugins that fail:
- Handbrake
- Arc theme
- Adapta theme (not yet added)

Handbrake and Arc both delete from `/etc/yum.repos.

[2017-03-08 16:38] danstewart commented on #442
JS code that handles the popup:
https://github.com/folkswithhats/fedy/blob/master/app.js#L302

[code]

[2017-03-08 16:39] maweki commented on #441
Apparently the repo moved to `http://negativo17.org/repos/fedora-multimedia.repo`

[2017-03-08 16:49] danstewart commented on #442
Clicking "Yes" hits the default in the switch (Hit 2).
`print(response)` outputs `-8`

[code]

[2017-03-08 16:56] satya164 commented on #442
@danstewart looks like there's a typo for response type. It should be `Gtk.ResponseType.YES` I think. Can you change it and see if works?

There seems to be another bug with the regex which flags this command incorrectly, but we'll get to that.

[2017-03-08 16:58] danstewart commented on #442
@satya164 That's so obvious now you say it. Worked perfectly. I'll send a PR. Thanks.

What's the regex issue?

[2017-03-08 16:58] satya164 commented on #442
@danstewart nah, the regex is fine, my mistake :)

[2017-03-08 16:59] danstewart commented on #442
@satya164 No bother, thanks for the help!

[2017-03-08 17:14] danstewart commented on #442
Fixed by #443.

[2017-03-08 17:14] #442 closed

[2017-03-09 10:46] abalg opened #444 "Curl does not follow the redirect 301 to download your repository-RPM"
In my fed25 installation curl does not follow the HTTP-redirect to the RPM-Package setting up your repository. So cut and paste of your code from the website does not work as the "fedy" repository is not getting installed thus "fedy" is not found an cannot be installed ...

I assueme adding
   -L, --location
to your code snippet should do the trick

[2017-03-09 16:16] bddenhartog commented on #444
`curl` is not used in the `installer` script; we _do_ have `https://folkswithhats.org` in the `dnf` command (which gets redirected to `https://www...`), but `dnf` properly follows the redirect.

You must be pasting an incorrect command. Executing what is on the front page works properly for me.

[2017-03-09 16:25] bddenhartog commented on #444
Duplicate of #436.

[2017-03-09 16:25] #444 closed

[2017-03-11 10:29] abalg commented on #444
You did not get me correctly - It's actually not the installer-script itself that can be downloaded BUT the snippet "curl https://www.folkswithhats.org/installer | sudo bash". Curl (maybe just a specific version) did not follow the HTTP-301 redirect but just sent the HTML telling me to redirect itself to the bash.

Seems as if you've fixed that already or curl was updated in the meantime - now it

[2017-03-11 10:30] abalg commented on #444
Before "curl -l https://www.folkswithhats.org/installer | sudo bash " did the trick for me ...

[2017-03-11 16:27] bddenhartog commented on #444
I'm not sure what to tell you; `https://www.folkswithhats.org/installer` is the URI that's being served - it doesn't redirect anywhere. Perhaps you manually typed out the command and missed the `https` or `www`?

In any case, glad it's resolved now.

[2017-03-11 16:30] bddenhartog commented on #444
And yes - like `wget`, `curl` does not follow redirects automatically. You need to specify that you want that behavior.

[2017-03-11 22:57] Xmetalfanx commented on #427
Big fan of Fedy here ... posting this here just for now as I saw the Fedora team itself post these instructions

https://fedoramagazine.org/add-power-terminal-powerline/

I have read a few things where "you want to check if another user is using Powerline so their configuration doesn't get messed up, with a second user's uninstall of Powerline" ... yeah logically that does make sense

[2017-03-12 03:30] Xmetalfanx commented on #392
Reading other's posts ... using copr over the git repo (via say curl or wget) would be better?  ... yeah I see that dnf would keep it up to date though your getting from the "developer" of the icon pack and theme themselves via git.

Just curious

[2017-03-12 19:33] danstewart commented on #392
@Xmetalfanx Yeah, copr would be better because, as you said, it will stay up to date.

The reason this hasn't been added yet is we currently don't have any logic for handling disabling of copr repos that are used in multiple plugins - since we disable the repo in the uninstall script this would break updates for plugins that use the same repo. Still looking into solutions for this though.

[2017-03-12 19:37] danstewart opened #446 "Disabling copr repos used in multiple plugins"
If a copr repo is used for multiple plugins, uninstalling one plugin would disble the repo which would break updates for the other plugins.

**Possible solution**
Add something to the metadata that lists connected/related plugins and before disabling the copr run the installed check on each of them, if any are installed then leave the copr active.

[2017-03-12 19:37] danstewart commented on #392
I've raised the multiple plugins using one repo as a separate issue - #446

[2017-03-13 07:39] Abhinav1217 commented on #446
That is the thought train we are running. A list with copr mapped to all the plugins which user installs. We start with empty list and add copr when a plugin installs one. When we remove a plugin, it checks if copr is used by any other plugin or not. If not, we can remove it.

Just like we have a `run_as_root` keyword, we can add 2 variables `copr_install` and `copr_remove` and handle the coprs vi

[2017-03-13 20:15] bddenhartog commented on #446
@danstewart

@satya164

I think a more elegant solution would be to introduce a `dependencies` property (in `metadata.json`) and extract any dependency installation to parse that property and install `dnf/copr` dependencies. Something like...

[code]

Then, each `install.sh` could perform whatever custom configuration it needed to (like setting up repo files, etc) and call a pre-defined `install_p

[2017-03-13 20:36] satya164 commented on #446
Why not a simpler approach like list if any other package is installed from the repo (e.g. - `dnf repo-pkgs numix list installed`) and if none are there, remove the repo?

If you choose to go with a history file, It should contain a version number for the file format, in case you want to change it in future, version of the plugin, in case the repos used by the plugin change, the list of repos used

[2017-03-13 23:22] danstewart commented on #446
I like the idea of removing the dependancy and copr logic into a separate function. We could have a `helper.sh` that contains this, could help remove repeated code across plugins (and we can add this to the contributing doc when we make one).

I didn't know about `dnf repo-pkgs numix list installed` - that's useful, thanks.

So we could have something like:
[code]

[2017-03-14 02:00] #441 closed

[2017-03-14 02:41] bddenhartog commented on #426
Whoops - your notifications went totally unnoticed and I've been wrapped up in other things. I'll get a PR out for this tonight.

[2017-03-14 02:46] danstewart commented on #427
Closing. See full discussion on #382

@bddenhartog

[2017-03-14 02:46] #427 closed

[2017-03-14 03:16] danstewart commented on #412
Closing. Just tested in a VM and it works fine on both Wayland and XOrg.

Looks like there is an issue with the settings page - but that's obviously nothing to do with us.

[2017-03-14 03:16] #412 closed

[2017-03-14 03:22] danstewart commented on #167
@satya164 @Abhinav1217 What did this tweak do? Just delete old kernels apart from the latest two?
Looks like the current default is 3 - does Fedora not clean old kernels up by default?

[2017-03-14 03:28] danstewart commented on #422
Additional comments from @bddenhartog

\
\- community: johnny wants to make a plugin so it's easy for people to get a cool bash prompt, or install a user-specific thing, so he does that and has it on his github - cool. unfortunately his github account doesn't have nearly as much visibility as ours, so his plugin goes mostly unnoticed, even though other people might like to take advantage of it. so

[2017-03-14 07:24] Abhinav1217 commented on #167
Fedora used to keep lots of old kernels. DNF is now set to 5 old kernels, I had manually changed it to 1 old kernel which is the lowest it allows.

It is recommended to have few old kernels but many find it unnecessary, specially if they have dual boot or multiboot system, there will be lots of entries and wasted disk space.  Earlier yum could remove all the kernels except the latest one, so there

[2017-03-14 08:35] satya164 commented on #167
Not much. here is the code https://github.com/folkswithhats/fedy/blob/01fd1aabff718e3e40a01d2702f27bdf4cf5d72d/plugins/misc/rem_oldkernels.sh

[2017-03-14 11:25] Abhinav1217 commented on #446
I am with satya. Have a function `repo_install` and `repo_remove` which handles both copr repos and 3rd party url repos like google chrome's.  Dependencies are mostly solved by repos itself and rarely would we need to compile on our own. So having seperate dnf and copr section is redundent. Also once copr or external repos are installed, DNF dosn't differentiate it. why should we.

I prefer managi

[2017-03-14 20:08] danstewart commented on #446
We don't really need a `repo_install`, do we?
We could just run the `repo-pkgs` in each uninstall script (or from a helper script) and check the output and disable or leave as needed.

So something like:
[code]

[2017-03-15 12:26] Abhinav1217 commented on #446
Not really need `repo_install` now, `repo_remove` is more important. Just mentioned it for sake of uniformity and versatility in case we find its use in future, we would have a function scope ready. I once thought of having `repo_check` when I was looking at so many plugins installing negativo repos. But DNF just skips the already installed repos so I ignored it.

[2017-03-15 12:35] Abhinav1217 commented on #446
Your `repo_in_use` function is nice starting point. I was thinking in lines of
[code]

and `repo_remove` would use your `repo_in_use` and conditional logic to determine if `dnf copr -y disable "copr_name"` needs to be done or not.  Heavy lifting done on our end, and plugin development remains nearly identical to current. Less work needed to check and verify contributors plugins.

[2017-03-15 12:37] Abhinav1217 commented on #446
Also if in future we need to change how uninstall should work, we won't need to change all the plugins.

[2017-03-15 15:43] bddenhartog commented on #426
So I did some testing the other day, and can't seem to replicate this issue. I had @danstewart try the removal of the `-i` flag, and that didn't seem to solve the issue he experienced when this was originally surfaced. Closing this issue for now as it cannot be recreated in a fresh installation of Fedora 25.

[2017-03-15 15:43] #426 closed

[2017-03-15 15:47] bddenhartog commented on #190
This issue is being closed as its status is seen as `stale`, or has otherwise been unattended for some time (either by the original reporter, or subsequent users). If this is still an issue or feature that needs to be added, please request that this issue be re-opened instead of creating a new issue.

Thanks!

[2017-03-15 15:47] #190 closed

[2017-03-15 16:10] sudoforge opened #447 "Refactor Fedy to pull from the official plugin library"
This issue is one of the subtasks on the road to completing #422.

---

A new repository has been created to house all officially supported plugins: [folkswithhats/library](https://github.com/folkswithhats/library)

Fedy should be refactored to query and display plugins from the `library` repository, instead of being bundled with the RPM package.

- [ ] folkswithhats/library#2 is closed
- [ ] All

[2017-03-15 16:16] satya164 commented on #447
Have you thought about the development workflow? It should still be possible to use installed plugins.

[2017-03-15 16:21] bddenhartog commented on #447
@satya164

I'll be keeping `library` up-to-date with plugins in this repository until they are ready to be removed, and no plugins are actually going to be modified with the migration to `library`. Well, technically I'm going to do all of the other work (without merging) before migrating the plugins (to lessen time between migration to `library` and polling update to the application), but that's b

[2017-03-15 16:28] satya164 commented on #447
I'm not sure what you mean. I was saying that locally installed plugins still need to be supported, otherwise it'll be impossible to work on plugins.

[2017-03-15 16:46] bddenhartog commented on #447
Ah, I see what you're getting at.

Yes, the current plan is to allow directories in a user-specified directory to override plugins from the remote. (e.g. if `~/code/my-fedy-plugins/chrome` exists, this will be used instead of the remote's plugin). Although I think we could do a lot better by providing a sandbox environment for contributors to work in, so the main system isn't affected by any chang

[2017-03-16 00:04] sudoforge opened #448 "[RFC] Building plugins as system packages instead of shipping shell scripts"
# Overview

Currently, the majority of plugins supported by Fedy and the Folks With Hats team are shipped as shell scripts, utilizing the `install.sh`, `uninstall.sh`, and `metadata.json` scripts. As a result of this decision, there are several points of pain with the current application workflow.

Note that in regards to #422, #447, this proposal should be considered made for `officially supporte

[2017-03-16 00:23] satya164 commented on #448
Are you planning to package the plugins separately or the software installed by the plugins? For example is it `fedy-plugin-chrome.rpm` or `chrome.rpm`?

[2017-03-16 00:46] bddenhartog commented on #448
@satya164

The final note covers this. For software that has official repositories, the Fedy plugin would set up the official repository if it doesn't exist, in addition to performing any other configuring that is needed. Post installation, the Fedy plugin would install the software from the official repository.

The proposed name for plugin system packages is `fedy-plugin-*`, where the `*` is the

[2017-03-16 00:50] satya164 commented on #448
The name `fedy-plugin-*` sounds misleading since it's not a plugin for fedy.

[2017-03-16 01:05] bddenhartog commented on #448
@satya164

It's a Fedy plugin; just like the objects in the `plugins/` directory aren't plugins for Fedy, but rather what Fedy calls a "plugin": a bundle of things that install another thing.

We currently ship `fedy-font-config` and `fedy-multimedia-codecs`, neither of which are named appropriately, as they aren't installing _our_ font configuration or _our_ multimedia codecs.

That being said, h

[2017-03-16 01:05] bddenhartog commented on #448
@satya164

It's a Fedy plugin; just like the objects in the `plugins/` directory aren't plugins for Fedy, but rather what Fedy calls a "plugin": a bundle of things that install another thing.

We currently ship `fedy-font-config` and `fedy-multimedia-codecs`, neither of which are named appropriately, as they aren't installing _our_ font configuration or _our_ multimedia codecs.

That being said, h

[2017-03-16 01:21] satya164 commented on #448
I don't see the difference, they **are** plugins for fedy

They are font config and multimedia codec packages **for** fedy

[2017-03-16 02:04] bddenhartog commented on #448
Sure, but doesn't `fedy-chrome` infer that it's Fedy's "Chrome"? I'm not sure that naming scheme fits for plugins.

[2017-03-16 02:07] bddenhartog commented on #448
Also, your two posts are contradictory. Can you please clarify what you see wrong with `fedy-plugin-*`?

and then....

So something named `fedy-plugin-*` would be a plugin **for** Fedy, by following the logic in your second post.

[2017-03-16 05:16] satya164 commented on #448
Again, it depends on what you package. `fedy-plugin-chrome` will be the plugin which contains the instructions for fedy regarding how to install Google Chrome. Google Chrome, on the other hand, is not a Fedy plugin, it's a third-party app.

The font config and multimedia packages are just packages. They don't have instructions for Fedy. They are not plugins for Fedy, rather some packages that were

[2017-03-16 10:09] Abhinav1217 commented on #448
I prefer current setup. Shell scripts in plugin works. There is no performance issue. Changing core plugin won't be a problem. It gives more control over commands and there is no reinventing the wheel. Fedy's main goal is to make dealing with fedora easier for users. And it's simplicity is what it is top recommended for fedora.

[2017-03-16 10:11] Abhinav1217 commented on #448
Working on community plugin will make this easier. For example, instead of bundling the core plugins with the app, We can have them downloaded via same api we would use to download community plugins.

[2017-03-16 10:43] Abhinav1217 commented on #448
Here is my opinion breakdown

**Problems with scripts**

- **Confusing upgrade steps**

I don't thing this is the case.
We have 2 type of plugins, 1 which uses DNF  to install softwares, DNF will take care of its updates once copr or repo url is installs. Your steps does not apply here.

2 Plugin which installs softwares by manual downloading and setting up here. In that case your steps are the on

[2017-03-16 10:54] Abhinav1217 commented on #448
In reading pros and cons section, Well I need to add that what you are suggesting is already done within gnome-softwares.  Writing bash script with commands will be simpler for contributers than writing spec file. For example I have never work with makefile and I ask satya to update the makefile when needed. All 3 files `install.sh, uninstall.sh, metadata.json` can be merged in one metadata.json f

[2017-03-17 00:46] bddenhartog commented on #448
@satya164

Using the definitions from the original issue post, the `plugin` is the set of scripts Fedy uses to install (or otherwise set up/configure) the `target`, which may be a software application, a set of scripts, or in the context of [codecs.plugin](https://github.com/folkswithhats/fedy/tree/master/plugins/codecs.plugin) and [fontconfig.plugin](https://github.com/folkswithhats/fedy/tree/mas

[2017-03-17 01:37] bddenhartog commented on #448
@Abhinav1217 _(emphasis mine)_

Fedy actually reinvents the wheel quite a bit, and has several problems:

- We had to implement our own caching system
- We are currently discussing methods of dependency management
- We have several users who run into issues using workarounds Fedy has implemented, like `rm` inconsistencies, additional prompts for installation
- We have our own, custom solution for

[2017-03-17 06:21] satya164 commented on #448
I don't understand your idea of a plugin. The most important part of a Fedy plugin is that it contains metadata for Fedy. A normal RPM package includes instructions for the system to install and remove items, but not any metadata Fedy can use. It cannot be a Fedy plugin, unless you actually include the metadata or make Fedy understand RPM packages (and figure out a way to actually include an icon

[2017-03-17 15:41] arnaud-m opened #449 "SmartGit Plugin"
Dear Fedy devs,

I have noticed that the SmartGit plugin was broken in Fedy 4.2.5.

I have fixed it the best I can.

1. I fixed the FILE extraction: (head+grep+tr) -> sed
2. I fixed the URL format

[code]

It works at least for me.
Cheers

[2017-03-17 15:59] Abhinav1217 commented on #448
The increased complexity in maintenance and increased learning curve for new contributors are enough reason for me to  reject this proposal. Bash scripts works. A lot of problems will be solved if we get drpms. having drpms will reduce the size of updates to very small size. We can increase the frequency of updates to keep plugins updated.

[2017-03-17 19:06] bddenhartog commented on #449
Thank you for the report, we'll get this patched momentarily.

[2017-03-20 19:08] angystardust commented on #448
IMHO a more flexible and reliable alternative to bash script would be ansible playbooks (maybe runned by a shell wrapper). An example for installing the "Archive formats":
[code]
P.S.: using Ansible playbooks to configure the system is the way redhat/fedora guys are pointing to.
Take a look at this very interesting project:
https://github.com/cockpit-project/system-api-roles

[2017-03-21 08:22] evfool opened #450 "Better font rendering conflicts with Fedora 26"
Hi,
In the weekend I have upgraded my installation to Fedora26 (development version, not released yet), and the setup broke, I did not even get to the login screen, and even the console seemed to freeze after a certain time. After several restarts
* I have found references to harfbuzz missing symbols (`/usr/lib/libharfbuzz.so.0: undefined symbol: FT_Get_Var_Blend_Coordinates`),
* googling for the

[2017-03-28 10:08] Abhinav1217 commented on #450
Fedora 26 is in development version, there may be some issue regarding incompatible libraries. I will look into the arclinux gist. I would give a few more days for the fedora to stabilise a little more,

[2017-03-28 10:38] evfool commented on #450
Understood, and agreed, that it might not be stable enough, just wanted to raise awareness in any case.

[2017-04-09 19:15] jurf commented on #296
No part of video acceleration is proprietary, unless you are using proprietary video drivers. VDPAU and VA-API both have open implementations. The [Arch Wiki](https://wiki.archlinux.org/index.php/Hardware_video_acceleration] explains how it works quite well (shameless self-pat-on-the-back, haha).

[2017-04-24 22:15] guinuxbr opened #452 "Refactor Popcorn Time to source the CE version from Github"
According to this: http://popcorn-time.is/official-statement.html#Malware2, the PopcornTime installer that is available at popcorntime.sh is a threat. Maybe the URL should be replaced by the PopcornTime CE.
This is the actual Popcorn Time URLs.
http://popcorn-time.is/
https://github.com/PopcornTimeCommunity/desktop

[2017-04-25 02:54] bddenhartog commented on #452
I'm considering this a **high priority** and will resolve it shortly.

[2017-04-25 17:41] bddenhartog commented on #452
Patch submitted for review, but before we merge this in, I have a few questions.

- Why is `PopcornTimeCommunity` more trustworthy than `popcorn-official`? Both applications are open-sourced:
    - https://github.com/PopcornTimeCommunity/desktop
    - https://github.com/popcorn-official/popcorn-desktop
- [This image](https://i.imgur.com/cRBrr6z.png) from the subreddit [/r/PopCornTime](https://redd

[2017-04-25 18:42] bddenhartog commented on #452
Additionally:

* I ran [a scan](http://archive.is/lLSZQ) with `virustotal.com` with the download provided by `popcorntime.sh` for Windows 7+. There are no scanners that reported the file as unsafe, including Symantec (the only scanner that reported 'unsafe' on the file in the scan linked in the article).

* The file name in the blog post's `virustotal.com` scan is `Popcorn-Time Official 2016-Setup

[2017-04-26 01:49] guinuxbr commented on #452
Hi... After a little more research I can assume that you are right. There's no easy way to determine which domain is real or fake. They all claim to be clean. I'm sorry for this.

[2017-04-26 03:09] #452 closed

[2017-04-26 03:12] bddenhartog commented on #449
Sorry for the delay - things came up and I totally forgot about this.

[2017-05-12 13:39] user501254 commented on #407
@bheru27
I had to manually set the Copr build Setting to build for Fedora 25. However I have made some changes so that this won't happen in the future.
I try to keep the packages as up to date as possible but in case you are wondering, there have been no updates to the [paper-gtk-theme](https://github.com/snwh/paper-gtk-theme) repo in some time now.
If there are any issue with the packages you can

[2017-05-12 20:50] user501254 commented on #407
[code]

[2017-05-13 19:56] user501254 commented on #392
Hi all,

I have made Pull request which makes use of my personal Copr Repository.
Issues with rpm packaging can be reported over [here](https://github.com/user501254/packaging).

[2017-05-14 17:16] #392 closed

[2017-06-02 17:57] stephenfin opened #456 "Use Sublime Text repos"
**Note:** This might already be resolved: it's Friday and I haven't checked.

It seems that with the latest release of Sublime Text, there are now [repositories](https://www.sublimetext.com/docs/3/linux_repositories.html#dnf) for Fedora. We should probably be simply enabling these and installing from there.

[2017-06-02 18:07] stephenfin commented on #448
I wholeheartedly agree with this idea. I would argue that, while a focus on contributor experience *is* important, the focus on the end user experience is *more* important. In addition, I think idea that having to learn how to write spec files is a barrier to entry is a bit of straw man argument: not only is it a very useful skill but since when is (safe) shell scripting a piece of cake (the amoun

[2017-06-02 19:34] bddenhartog commented on #456
The installation script(s) have not been updated. Thank you for bringing this to our attention.

[2017-06-02 19:36] bddenhartog commented on #448
@stephenfin @angrystardust I've actually made a separate github organization to expand upon the ideas purported here in a cross-distro fashion. Feel free to contact me on telegram or twitter: @bddenhartog.

[2017-06-17 15:26] barrosgeraldo commented on #405
Just one update here, Firefox Developer Edition is merged with Firefox Nightly, so is cool work to add this here, and yes, to install is need download from oficial website because Firefox Nightly is a pre release version and is updated everyday while the developers work with it daily.

https://www.mozilla.org/firefox/channel/desktop/

[2017-06-20 07:56] bheru27 commented on #456
I havent checked but the install repos they do are for 64 bit version, then we should see if they dont provide 32bits ones so just modify the script to use the repo in case the computer is 64 bits.

[2017-06-21 08:07] xasx commented on #392
Installed this via Fedy.

Does not show up in gnome-tweak-tool. Any idea why or how to make it work?

[2017-06-21 16:27] user501254 commented on #392
@xasx
You might want to restart your machine and see if it works.
Alternatively, does `gsettings set org.gnome.desktop.interface icon-theme 'Arc'` work?

[2017-06-21 21:10] bddenhartog commented on #392
quote @user501254

Restarting the machine is not necessary, you simply need to reload `gnome-shell`. This can be accomplished a few different ways (listed in order of ease):

* Press `Alt+F2` to open the `Run Command` window, type in `r`, and press enter. This will reload Gnome.
* From the command line, execute `gnome-shell --replace`. This replaces the running window manager.
* Log out and back i

[2017-06-21 21:13] bddenhartog commented on #392
quote @user501254

Restarting the machine is not necessary, you simply need to reload `gnome-shell`. This can be accomplished a few different ways (listed in order of ease):

* Press `Alt+F2` to open the _Run Command_ prompt, type in `r`, and press `enter`. This will reload Gnome.
* From the command line, execute `gnome-shell --replace`. This replaces the running window manager.
* Log out and back

[2017-06-22 06:01] xasx commented on #392
Restarting did _not_ help, unfortunately. Arc icon theme still did not show up.

Then I tried the `gsettings` way, the icon theme was changed as intended.

Starting `gnome-tweak-tool` then revealed a whole bunch of other available icon packs (there was only one shown before). Sorry for concerning you here - this must either be system-specific or a bug in tweak tool.

[2017-06-22 07:46] bddenhartog commented on #392
up.

While it's no surprise that using `gsettings` worked, I'm a bit curious as
to why reloading gnome-shell _didn't_ work. That's all I've ever had to do
in order to load new extensions. Definitely sounds environment-specific,
so, glad you got it worked out!

icon packs (there was only one shown before).

This is _probably_ because you reloaded gnome, and not a result of setting
the option via `g

[2017-06-22 08:00] bddenhartog commented on #392
While it's no surprise that using `gsettings` worked, I'm a bit curious as
to why reloading gnome-shell _didn't_ work. That's all I've ever had to do
in order to load new extensions. Definitely sounds environment-specific,
so, glad you got it worked out!

This is _probably_ because you reloaded gnome, and not a result of setting
the option via `gsettings` directly.

[2017-06-22 08:06] xasx commented on #392
@bddenhartog To make it clear:
* restart
   &rarr; only 'Paper' is shown as available icon theme
* close tweak tool, use `gsettings`, start tweak tool
   &rarr; shows up, along with all the others
* select 'Paper' icon theme in tweak tool
   &rarr; all other icon themes are gone again

To sum it up, unless I select the 'Paper' icon theme, the others are shown. Especially 'Arc' as well.

Further in

[2017-06-22 15:53] bddenhartog commented on #392
Is this a reproducible workflow for you?

[2017-06-22 16:01] user501254 commented on #392
@bddenhartog
Just saying to restart the machine seemed simpler :stuck_out_tongue:
Thanks for typing that out!

[2017-07-07 07:47] bheru27 commented on #456
okay i just installed the thing in my computer, iit is sublime text 3, but the package doesnt say an specific version:
Name        : sublime-text
Version     : 3126
Release     : 1
From repo   : sublime-text
Summary     : Sublime Text is a sophisticated text editor for code, markup and prose
URL         : https://www.sublimetext.com
License     : Proprietary
I saw that there are the repos:
https:/

[2017-07-07 23:14] 0xMatt opened #459 "Fedora 26 Support"
I know a version 26 issue was opened almost 4mo ago, but I figured I'd make an official issue regarding the status of 26 support in general, especially since it'll be released in 4 days.

When could we expect a a build targeted for this version to be published? If it's estimated to be weeks after the release, even letting us know that would be good so I can start extracting the install scripts to

[2017-07-08 03:12] bddenhartog commented on #459
Thank you for opening this issue. I've been out of commission for the past week (moving, unpacking etc), but should have some time to conduct testing this weekend.

That said, it may not be a smooth transition, and a release for F26 could end up taking longer than expected. Generally speaking, you should be able to rely on having the FWH repositories serving fedy for F26 by next Friday (July 14) a

[2017-07-11 00:43] WolfangAukang opened #460 "Add Google Play Music Desktop Player"
This is a desktop player for Google Play Music, which is more customizable and it's more lightweight compared to using it on web. It has RPMs available for 32 and 64 bit, and it has a MIT license.

https://www.googleplaymusicdesktopplayer.com/

[2017-07-11 14:27] ranjithsiji commented on #459
Fedy is not working for Fedora 26

[2017-07-11 20:18] Abhinav1217 commented on #456
Submitted a PR which solves this. Can be closed once PR is merged.

[2017-07-12 07:44] Abhinav1217 commented on #460
It is now available in PR. Will be pushed soon.

[2017-07-12 07:45] Abhinav1217 commented on #449
Solved in latest PR.

[2017-07-12 10:56] sivapooja opened #463 "feddy can't install"
[siva@fedora25 ~]$ sudo sh -c 'curl https://www.folkswithhats.org/installer | bash'
[sudo] password for siva:
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   985  100   985    0     0    723      0  0:00:01  0:00:01 --:--:--   723
Adding repositories...
Last metadata expiration check

[2017-07-12 14:41] bddenhartog commented on #460
@Abhinav1217, please *do not* close issues until they are _actually resolved_.

[2017-07-12 14:45] bddenhartog commented on #463
You are attempting to download Fedy in Fedora version 26; we have not yet released an F26-compatible client. Please track #458 for this.

On a side note, your machine's hostname is `fedora25`. This is likely to cause some confusion, as you are not running that version!

[2017-07-12 14:45] #463 closed

[2017-07-12 14:47] bddenhartog commented on #459
@ranjithsiji We are working on support for F26.

[2017-07-13 09:59] biggestchops commented on #450
Hello, I ran the upgrade from f25 to f26 last night, had the same issue (the harfbuzz thing). I didn't even think that it might have something to do with fedy, and I nuked and paved it today, so unfortunately can't provide any log files or anything.

Can't wait for the f26 compatible version of fedy, keep up the great work!

[2017-07-13 18:27] Abhinav1217 commented on #450
Release is now done by @bddenhartog . He will release later this week last time we talked.
I just installed a fresh install of fedora and fedy. everything is working fine up untill now. Still a few things left in queue.

[2017-07-14 15:32] bddenhartog commented on #450
To follow up on this, my workstation is currently out of commission (recently moved, local ISP booked up). I should be able to catch up with everything by tomorrow morning.

[2017-07-16 16:45] bddenhartog commented on #460
Closed in 0095bab5.

[2017-07-16 16:45] #460 closed

[2017-07-16 16:46] bddenhartog commented on #456
Closed in 0095bab5.

[2017-07-16 16:46] #456 closed

[2017-07-16 16:46] bddenhartog commented on #449
Closed in 0095bab5.

[2017-07-16 16:46] #449 closed

[2017-07-17 08:51] kwizart opened #466 "[RFC] Add fedy to the RPM Fusion repo"
As a RPM Fusion project coordinator I would like to invite you to consider to add fedy into the RPMFusion repository.

RPM Fusion is a community based repository and welcome anyone with good ideas to help to complement Fedora.

Please see the contribution guide (I can assist as a sponsor if you are not already a fedora packager)
https://rpmfusion.org/Contributors

The only point I would need to ve

[2017-07-17 20:47] georgelappies commented on #459
Appreciating the work you guys are doing, but any idea when it will be released?

[2017-07-17 20:52] bddenhartog commented on #459
@georgelappies ideally tonight. currently attempting to resolve an issue with the build workflow.

[2017-07-17 21:47] bddenhartog commented on #459
Fedy is now released for Fedora 26, and should become generally available over the next few hours as it is distributed. Please feel free to file bugs for packages or installation issues in a new issue.

[2017-07-17 21:47] #459 closed

[2017-07-17 22:29] blackjackshellac opened #467 "Skype should require a 64-bit machine"
But fedy is still installing the i686 version.

https://www.skype.com/en/download-skype/skype-for-linux/

[2017-07-18 01:12] bddenhartog commented on #450
This should be resolved with the dependency switch from `freetype-freeworld` to `freestyle`.

Please comment on this issue again if you run into any issues.

[2017-07-18 01:12] #450 closed

[2017-07-18 03:40] lwslade opened #468 "SSL errors when trying to install"
When opening https://www.folkswithhats.org/, my web browser gives me an SSL certificate error. I also get this error when trying to run the install script manually:

`Adding repositories...
Last metadata expiration check: 0:12:43 ago on Mon 17 Jul 2017 11:25:08 PM EDT.
[MIRROR] folkswithhats-release-1.0.1-1.fc26.noarch.rpm: Curl error (51): SSL peer certificate or SSH remote key was not OK for htt

[2017-07-18 04:27] lwslade commented on #468
I didn't notice until now that there's a separate repository for the fedy website -- my apologies if this issue is mis-filed with the wrong project.

[2017-07-18 04:42] bddenhartog commented on #468
@lwslade Thank you for the report. This was due to misconfiguration of the CDN; it has since been resolved. It should propagate throughout the world within 15 minutes, but feel free to let me know if you still have errors connecting.

[2017-07-18 04:42] #468 closed

[2017-07-18 05:17] bddenhartog commented on #468
Additionally, the issue preventing the non-www version of the domain from redirecting users to the www-version of the domain has been resolved, and should propagate within 15 minutes.

[2017-07-18 05:25] georgelappies commented on #459
Most excellent, thanks!

[2017-07-18 06:17] bddenhartog commented on #467
To clarify:

As of July 1, 2017, Microsoft has retired all Skype for Linux clients version 4.3 and older, which was previously a 32-bit client. "Skype for Linux", as of July 1 2017, is now the only client supported by Microsoft -- and it is _only_ available as a 64-bit client.

Therefore, the skype plugin should be refactored to prevent installation if the host machine is 32-bit.

[2017-07-18 08:00] daniel-wtd commented on #459
Hmmm, using the installer from the webpage leads to http404. Can you have another look in it?

[2017-07-18 13:58] #467 closed

[2017-07-18 15:13] bddenhartog commented on #466
I think that, generally speaking, this is a great idea -- I do have some reservations, however, mostly around the delay in the release cycle due to the average review period while an update sits in `updates-testing` ([source](https://rpmfusion.org/Contributors#Updating_an_existing_package): _You'll have to wait a period ranging from 10 to 14 days for your package to be transferred to the "updates"

[2017-07-18 15:21] bddenhartog commented on #466
Additionally, these are a few other issues that I think are important to tackle before submitting to RPMFusion, especially because of the immediate increase in visibility and users that we would be exposing Fedy to:

- Avoid disabling `someCoprRepo` during `pluginA` removal when `pluginB` is using it as well
- Better desktop notifications for the user when errors occur - we need to surface what we

[2017-07-18 15:37] bddenhartog commented on #446
Promoting this from `feature` to `bug:confirmed` as it is currently detrimentally impacting users.

[2017-07-18 16:00] bddenhartog commented on #459
@daniel-wtd This may be due to a caching issue. We're behind a CDN now, and perhaps the 404 response was cached prior to the file existing. I've invalidated the cache, which should propagate within about 15 minutes. I'll be checking on this throughout the day.

[2017-07-18 16:24] daniel-wtd commented on #459
Can confirm it works for me :)

[2017-07-18 18:32] bddenhartog commented on #167
Closing this due to irrelevance.

Fedora keeps 3 kernels by design and default; users who wish to change this can update their dnf configuration.

[2017-07-18 18:32] #167 closed

[2017-07-18 18:40] #149 closed

[2017-07-19 00:35] bddenhartog commented on #432
@danstewart any update on this?

[2017-07-19 07:12] xasx opened #471 "Caching/Updating question"
Hi there,

just a question:

Many plugins utilize a cache for downloaded files in order to speed up re-installs.

However, this prevents the re-install method to be used for updates since the files never get downloaded again unless the cache is wiped manually. Is there anything that I am missing regarding the cache or its cleanup? Are there perhaps plans to provide a dedicated 'Update'/'Install la

[2017-07-19 07:22] xasx commented on #447
To test own plugins one could perhaps also specify something like a 'private plugin repo' URL, which may point to a user's fork of the plugins repo. On the other hand that would involve remote lots of communication that might be undesirable, especially if there are many small fixes to be committed during development…

[2017-07-19 17:57] Gouri commented on #459
No, It is not, When I give command "sudo sh -c 'curl https://www.folkswithhats.org/installer | bash'" from https://www.folkswithhats.org/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   985  100   985    0     0   3316      0 --:--:-- --:--:-- --:--:--  3327
Adding repositories...
I

[2017-07-19 21:44] bddenhartog commented on #459
@Gouri I am unable to reproduce that on a fresh VM.

Can you please paste the contents of your repostory configuration file? It should be located at `/etc/yum.repos.d/folkswithhats.repo`.

[2017-07-20 02:56] biggestchops commented on #459
Thanks for the update you guys.

[2017-07-20 12:51] Gouri commented on #459
@bddenhartog

the thing is i update everyday and once i upgraded to fedora 26, it was creating problem and i uninstalled it. And the thing is the repo file is also removed somehow.

So When you asked for the repo file. I checked, and it is not there. So I manually added it and it is working fine now.

Thanks

[2017-07-20 14:17] bddenhartog commented on #459
@Gouri Ah, I see the issue. You probably ran `dnf remove fedy`, and then manually deleted the repo file.

Our repo file is managed through the `folkswithhats-release` package. In the installation script, we check to see if this package is installed. If it _is not_ installed, then we grab the latest version (which sets up the repo file).

Because you still had the `folkswithhats-release` package in

[2017-07-20 17:04] mhsabbagh opened #476 "Installation instructions shouldn't suggest users `curl | sudo bash` the script"
Hello.

On the official website of Fedy, you are suggesting to use curl as a root user in order to download the installer from the website and then run it. However, such method is dangerous for a lot of reasons, a simple example would be that the website may be compromised/domain expires/someone finds a way to get in; and the installer code could be modified. Infecting a lot of users.

Also, using

[2017-07-20 22:34] bddenhartog commented on #476
I agree with the sentiment that the current installation instructions normalizes running scripts from the internet as the super user, which is - generally speaking - a bad habit to form, however, it is incorrect to say that the installation script is _dangerous_.

The reason this was written in the past is because simply because it was fairly common; not that this justifies it, but I think it's fa

[2017-07-21 00:45] bddenhartog commented on #471
Caching is handled by `wget`, which respects the `Expires` HTTP header set by the server you are communicating with. This means that when files on remote servers change and the server's cache is reset, `wget` will download the new version.

[2017-07-21 00:45] #471 closed

[2017-07-21 07:32] kwizart commented on #466
Few comments from the above:
- About the speed deployment process in RPM Fusion.
I often push packages twice a week. The first push make the signed packages available in the testing repo, the second move them to stable. As a developer, you have immediate access to the build (from koji.rf.o). So this is a very reasonable time line to report an issue.

- As as understand the refactoring, you will ha

[2017-07-21 07:33] kwizart commented on #466
And more importantly, using RPM Fusion build infra will help you to focus only on fedy work and not have to deal with repositories tasks. Time matters for everyone ;)

[2017-07-21 08:36] xasx commented on #471
@bddenhartog I was referring to the cache directories as defined e.g. in https://github.com/folkswithhats/fedy/blob/master/plugins/gitkraken.plugin/install.sh#L3

[2017-07-21 14:06] bddenhartog commented on #471
@xasx Yes, I know. The "cache directory" `/var/cache/fedy` is simply convention. `wget` actually handles detecting "oh, we already downloaded this" - that's the reason that script changes to `/var/cache/fedy`.

[2017-07-21 14:28] bddenhartog commented on #471
I feel like my last comment might be unclear. Here's the workflow, in a bulleted list:

- Change to /var/cache/fedy
- Download some-file-foo.tar.gz with wget
- Install...

Later, if the user removes the plugin and clicks "Install" again:

- Change to /var/cache/fedy
- Request to download some-file-foo.tar.gz with wget
   - wget detects that we have a file already at the given output location  (the

[2017-07-24 18:48] NotoriousGNU opened #477 "DNF Repo is not responding"
My friend had an issue migrating from f25 to f26 because her fedy was unable to synchronize on DNF. Upon further investigation, I can't update fedy either from f25. I removed fedy and re-ran the installation script from the website to no avail.

I noticed you asked the guy from #459 to give you the content of `/etc/yum.repos.d/folkswithhats.repo`.

[code]
Should i `mv folks-with-hats.repo folkswit

[2017-07-24 19:11] bddenhartog commented on #477
There was a temporary issue with object permissions during a background server move. This should be resolved, and re-running the command available at www.folkswithhats.org should result in a successful installation.

You shouldn't have to manually move the repo file; that name change (from `folkswithhats.fepo` to `folks-with-hats.repo`) is purely cosmetic (and is actually reverted in `folkswithhat

[2017-07-24 19:11] #477 closed

[2017-07-24 19:23] bddenhartog commented on #477
Actually, _now_ it should be resolved. My apologies :)

[2017-07-24 19:25] naimarshad commented on #477
Mannually running this command have below output.
sudo dnf -y --nogpgcheck install \                                                        1 ↵  195  22:24:25
                "https://dl.folkswithhats.org/fedora/${releaseVersion}/RPMS/noarch/folkswithhats-release-3.0.0-1.noarch.rpm"

Last metadata expiration check: 0:09:03 ago on Mon 24 Jul 2017 10:15:23 PM +03.
[MIRROR] folkswithhats-release-3

[2017-07-24 19:55] bddenhartog commented on #477
@naimarshad depending on where you're at in the world, the fix may not have propagated to you by the time I left my last comment.  Can you try again?

[2017-07-24 20:28] naimarshad commented on #477
It is still the same..

[2017-07-26 07:30] xasx commented on #471
Thanks for clarification. Been confused lately… :wink:

[2017-08-19 19:57] HenriqueCSJ opened #481 "Fedy's website is down"
Looks like a hosting problem?

[2017-08-19 20:21] bddenhartog commented on #481
This is due to the registration expiring, not an issue with the DNS or hosting:

https://who.is/whois/folkswithhats.org

/cc @satya194

[2017-08-19 22:16] cowboysmall commented on #481
Site is back up, but still a problem with the installer:

Is this just a propagation issue? Or a problem with the zone files?

[2017-08-20 01:04] bddenhartog commented on #481
@cowboysmall the zone files and file hierarchy haven't changed. I would guess you're experiencing a propagation issue.

You could also try clearing your DNS cache.

[2017-08-20 01:04] #481 closed

[2017-08-22 13:03] andrewcole50 opened #482 "Add Brave Browser?"
Would there be any interest or would the project be able to add the Brave Browser to FEDY?

https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#fedora-x86_64

[2017-08-25 18:08] bddenhartog commented on #270
@gitgt Does this still warrant looking into?

[2017-08-26 05:34] Abhinav1217 commented on #482
@bddenhartog I started working on it.  Will send a PR soon.

[2017-08-26 09:15] daniel-wtd opened #483 "FR: Please add OnlyOffice"
OnlyOffice seems to have good support for fedora.
Maybe you can have a look at it or add it :)

https://www.onlyoffice.com/

Best regards!

[2017-08-28 06:47] Abhinav1217 commented on #482
Submitted a PR on this.

[2017-08-28 06:49] Abhinav1217 commented on #483
Its open source (GPL3) and has an official update channel for RHEL derivatives. I have installed it on test machines and if all works well I will send a PR soon.

[2017-08-28 08:06] gitgt commented on #270
@bddenhartog In my view, yes. It's nice and active: "Last Update: 2017-08-08".
RealCrypt's "no code relating to actual encryption or decryption is modified" and "Last Update: 2014-09-06".
There's also zuluCrypt but looks like KDE only.
So, I'm not crypto expert but I'm in favor of veraCrypt.

[2017-08-28 08:56] gitgt commented on #422
This was an idea in Please add Chromium #260 and I guess it's still valid.

[2017-08-28 09:10] gitgt opened #485 "Master PDF editor does not download"
Master PDF editor does not seem to download. Console shows:
http://get.code-industry.net/public/master-pdf-editor-4.2.70_qt5.x86_64.rpm
and stays like that. Manual download works.

[2017-08-28 09:53] gitgt commented on #270
@bddenhartog In my view, yes. It's nice and active: "Last Update: 2017-08-08".
RealCrypt's "no code relating to actual encryption or decryption is modified" and "Last Update: 2014-09-06".
Fedora has zuluCrypt (front end to cryptsetup and tcplay) in repository but GUI looks like KDE only.
So, I'm not crypto expert but I'm in favor of veraCrypt.

[2017-08-28 14:15] bddenhartog commented on #482
@Abhinav1217 If you put the issue number in the body of the pull request when it's created, GitHub will automatically put a "<Author> referenced this issue in <Pull Request>" link, like we see above.

I updated your PR message [here](https://github.com/folkswithhats/fedy/pull/484#issue-253229118) and removed your earlier comment in this thread to accomplish that.

[2017-08-28 14:49] bddenhartog commented on #260
Chromium is included in the Fedora repositories by default.

[2017-08-28 14:55] bddenhartog commented on #260
Support for community plugins has a more focused issue here: #422

[2017-08-30 15:46] #482 closed

[2017-08-30 15:57] sudoforge opened #486 "The `libre` property in plugin metadata is unused and should be removed"
Initial discussion here: https://github.com/folkswithhats/fedy/pull/484#discussion_r135539992

There are [several plugins](https://github.com/folkswithhats/fedy/search?utf8=%E2%9C%93&q=libre&type=) with the superfluous `libre` property. Go through the codebase and remove these properties.

Quick-start in your terminal/shell (if you're working from a fork, be sure to update your fork first):

[code

[2017-09-10 13:36] gombosg opened #533 "Mouse acceleration plugin messes up mouse hotplug & suspend resume on F26"
[xorg-withfedy-mouseaccel.txt](https://github.com/folkswithhats/fedy/files/1290558/xorg-withfedy-mouseaccel.txt)
[xorg-withoutfedy-mouseaccel.txt](https://github.com/folkswithhats/fedy/files/1290559/xorg-withoutfedy-mouseaccel.txt)

Very strange phenomenon, took a while to debug because I thought it's a hardware issue.
Issue: with "disable mouse acceleration" script.

## Issue details

- When plug

[2017-09-12 03:32] Abhinav1217 commented on #533
We should also check if wayland has some role in causing this issue or not?

[2017-09-12 07:23] gombosg commented on #533
Well, this is under Xorg. I'm not using Wayland, it's [too buggy](https://fedoraproject.org/wiki/Common_F26_bugs#Wayland_issues)... :)

[2017-09-12 14:56] bddenhartog commented on #533
Removed myself - won't have time this week to investigate.

[2017-09-16 11:44] ArvindNair001 opened #534 "[masterpdfeditor] URL is parsed but not assigned to variable"
https://github.com/folkswithhats/fedy/blob/596e484c739040616fd20c0c8675f1b23e80f257/plugins/masterpdfeditor.plugin/install.sh#L3

[2017-09-16 14:19] bddenhartog commented on #534
Thanks -- good catch! 👍

[2017-09-16 14:22] #534 closed

[2017-09-16 14:25] bddenhartog commented on #534
Huh - that's weird. The commit ID isn't referenced in the `close` action we see above. GitHub must not run merge commits made from the web interface through the same hooks.

This issue was closed in https://github.com/folkswithhats/fedy/commit/01251c9a8c18f5095690eab6d8e3ce72697a7142

[2017-09-19 08:24] bertalanimre opened #537 "Recommendation: OpenXenManager in Fedy?"
Hey @bddenhartog

May I suggest implementing openxenmanager in Fedy? It was a pain in my *ss to install it on Fedora 25 cause a lot of things weren't available by default.

Installation is as the following:
* cd /opt
* dnf install gtk-vnc-python gtk-vnc  pygtk2 rrdtool git glade pygtk2-libglade.x86_64 -y
* git clone https://github.com/OpenXenManager/openxenmanager.git
* cd openxenmanager
* python

[2017-09-30 12:49] Corsseir opened #538 "What Gnome-Shell, GTK and Icon theme you use with Fedy screenshot? :)"
What Gnome-Shell, GTK and Icon theme you use in Fedy screenshot? :) I mean this one: https://www.folkswithhats.org/assets/fedy.png

Sry but I cant find other way to ask you about that.

[2017-09-30 13:33] Abhinav1217 commented on #538
These should be default themes. With a little touch-up done by @satya164.

[2017-09-30 14:27] satya164 commented on #538
It's Ozon GTK

[2017-10-04 09:44] irondave commented on #538
@satya164
I really loved the ozon themes, can we hope for new versions or the project has been abandoned definetively? I knew that the ozon linux distro was merged with korora long time ago, but since then nothing has been made known...

[2017-10-05 03:20] bddenhartog commented on #538
Closing this issue, but please feel free to continue discussion.

[2017-10-05 03:20] #538 closed

[2017-10-13 15:05] ryanvade opened #540 "Gitkraken requires libcurl-gnutls, and auto updating of GitKraken"
GitKraken 3.1.1 requires libcurl-gnutls.so.4.   If I symlink /usr/lib64/libcurl.so.4 with /usr/lib64/libcurl-gnutls.so.4 it runs without issue.  3.1.1 also fixes the file explorer localization bugs so it would be nice to have an auto-update feature for GitKraken instead of having to delete the gitkraken cache folder.

[2017-10-16 05:30] 4ppleboy commented on #540
+

[2017-10-18 08:51] Abhinav1217 commented on #540
[This guy](https://gist.github.com/aelkz/17528d2f6a5db73185c7dfbd28e49d18#gistcomment-2225788) suggests we can create a symlink in the /opt/gitkraken folder too.    I am started testing both, yours and his, workaround. I will update the plugin with whatever works best. If possible, we should avoid making changes on users lib64 folder.

This should be best if asked to the gitkraken developers. Curr

[2017-10-19 06:42] agicquel commented on #533
I wrote the mouse acceleration script. It's just a well-known Xorg configuration in /etc/X11/xorg.conf.d/ It shouldn't cause any problem however you have to know Xorg have to be restarted after changes in conf to take effect. Maybe Xorg is guilty, that's strange.

[2017-10-27 14:52] ryanvade commented on #540
My apologies for not responding sooner.

I was thinking it would be nice if Fedy were to check for updates to software not packaged as RPMs and perform the upgrade itself.  The cache I am referring to is Fedy's package cache, I deleted gitkraken from it and re-ran the install which installed the newer version.

[2017-10-28 17:41] danstewart commented on #432
@bddenhartog Not sure if I'm being an idiot but for some reason I can't install it from the [copr](https://copr.fedorainfracloud.org/coprs/heikoada/gtk-themes/):

[code]

I still have the manual script in a [gist](https://gist.github.com/danstewart/179ca94277a3a6a4147b5709dec21602) if you'd rather I just add that?

[2017-10-29 01:00] bddenhartog commented on #432
@danstewart You should see various results after searching for `adapta`:

[code]

I'm unsure of the details of the copr repo, but it would seem like the author publishes themes under a different name than what is listed on the COPR web page.

[2017-10-31 18:28] GabLeRoux opened #543 "Fedora 27 install script returns 403"
See here:
https://dl.folkswithhats.org/fedora/27/RPMS/noarch/folkswithhats-release-3.0.0-1.noarch.rpm

Works for 25 and 26 tho.

[code]

[2017-10-31 18:41] bddenhartog commented on #543
I haven't yet built the packages for F27.

My schedule has been a bit packed the past few months, I'll try and make time to get the packages up-to-date. This will include building packages for F27.

[2017-11-07 02:39] #405 closed

[2017-11-09 15:52] Abhinav1217 commented on #543
Fedy does not target beta, alpha, rc releases. Only Stable releases. If you want to install Fedy on Beta release, You need to manually install Fusion repos, before installing fedy. Fedy in Alpha release are usually broken, because of broken dependencies package.

[2017-11-09 16:48] Abhinav1217 opened #548 "Discussion :- Steam linux integration."
From the [readme](https://github.com/solus-project/linux-steam-integration) and [Technical Readme](https://github.com/solus-project/linux-steam-integration/blob/master/TECHNICAL.md)

I have been comparing steam without LSI and steam with LSI for few months now, Using LSI is certainly big improvement over using it without it. Better frame rates, better graphic.

There is a fedora [copr](https://cop

[2017-11-09 17:07] bddenhartog commented on #548
Separate plugins. Imagine these as RPM packages:

[code]

It makes sense to separate the two -- however:

@Abhinav1217 said (emphasis mine):

If that bolded information is true, and there are separate menu entries (meaning that a user can launch Steam **without the LSI modifications**), then simply updating the existing plugin is acceptable.

[2017-11-10 07:48] Abhinav1217 commented on #548
It is true, I have been using this for past few days.
[code]
Steam.desktop is one created by installing steam from fusion.
lsi-steam.desktop is created by LSI package, which basically calls steam with lsi enabled settings. Third is also installed by LSI package which is its settings panel.

![screenshot from 2017-11-10 13-07-56](https://user-images.githubusercontent.com/740584/32647629-1d231eee-c5

[2017-11-10 13:06] beli3ver opened #549 "Update Fedy?"
When will fedy be updated?

[2017-11-10 14:36] bddenhartog commented on #549
Hey @beli3ver, thanks for the question. You can expect an update later today.

[2017-11-10 14:36] #549 closed

[2017-11-14 18:35] ranjithsiji opened #550 "Fedy is not working with Fedora 27"
The current fedy is not working with Fedora 27.

[code]

How can I install it for Fedora 27

[2017-11-14 21:41] pscheid92 commented on #550
Maybe this error is related to #543 ?

[2017-11-14 21:46] bddenhartog commented on #550
Fedy is not yet built for F27. Expect a target later this week. I'll post on #543 when that has been done.

In the future, please ensure you a [searching the issues] before creating a new one, so that we can avoid duplicates like this. Thanks!

[2017-11-14 21:46] #550 closed

[2017-11-14 21:51] ranjithsiji commented on #550
Sorry my bad. The issue was already there. And waiting for the F27 build.

[2017-11-14 21:56] bddenhartog opened #551 "Fedy should be built for Fedora 27 Beta"
Initial request made at #543.

I want to begin building targets for alpha and beta versions of Fedora and making them generally available.

[2017-11-14 22:03] bddenhartog commented on #543
This is being considered a bug report as you, the user, expect Fedy to be built for F27; however it is being declined because we have not historically released build targets for beta or other non-release versions of Fedy.

This is something I intend to change. The feature for adding F27 targets can be tracked in #551.

[2017-11-14 22:03] #543 closed

[2017-11-15 05:21] ranjithsiji commented on #543
Actually fedy must be build for atleast beta. In recent releases I faced the problem of error with fedy. The error happened because I tried the fedora release on the same day. The fedy repo is not ready. If you can have build road map for beta release of fedora then that will be great. Because without fedy configuring fedora is a whole lot of work.

[2017-11-15 08:36] bddenhartog commented on #543
Yes; please see #551 for following this story.

Fedy itself is very lightweight; do you mean to say that you had issues with the application starting or with the display or operation of the GUI? All we do, in most cases, is run shell scripts. These can fail due to changes in the third parties that we are contacting and downloading files from.

[2017-11-15 10:53] ranjithsiji commented on #543
The problem is Fedy is not building the latest fedora when release time. I am Installing Latest fedora in a number of system after the first day of release. If I have Fedy then never look back. But usually fedy is getting ready after a weak or two. So installing third party software without fedy is always a pain.

[2017-11-15 14:17] bddenhartog commented on #543
Yes, our release cycle has not historically been conducive to users who upgrade on release launch dates. This is something I have talked about in the past, and something which #551 addresses.

[2017-11-15 15:38] ycollet opened #552 "Build a Fedora 27 package"
Fedora 27 is out today.

[2017-11-15 16:20] luisnabais commented on #552
Actually it came out yesterday.

And there are too many issues on this. Search before posting crap.

[2017-11-15 17:25] ycollet commented on #552
I just tested today and it wasn't working.
It's not necessary to be rude !

[2017-11-15 17:28] bddenhartog commented on #552
@luisnabais Please avoid offensive or aggressive language within our organization's repositories.

@ycollet, please see #551.

[2017-11-15 17:28] #552 closed

[2017-11-15 17:30] bddenhartog commented on #550
Please try installing Fedy again. Targets have been built and deployed for Fedora 27 Stable. Please report any plugin-specific errors you may encounter in a new issue.

[2017-11-15 17:33] bddenhartog commented on #543
Please try installing Fedy again. Targets have been built and deployed for Fedora 27 Stable. Please report any plugin-specific errors you may encounter in a new issue.

[2017-11-15 17:33] bddenhartog commented on #549
Please try installing Fedy again. Targets have been built and deployed for Fedora 27 Stable. Please report any plugin-specific errors you may encounter in a new issue.

Sorry it took a few days, had some things come up.

[2017-11-16 08:45] ycollet commented on #552
This was due to a problem with network connectivity with the fedy repo. Sorry for the noise.

[2017-11-16 12:46] dAnjou opened #553 "Explain what it does and how it works"
... in README and on website.

There needs to be a good reason to install software without using the package manager. So if I do it I want to understand what's happening.

[2017-11-16 14:05] bddenhartog commented on #552
S3> This was due to a problem with network connectivity with the fedy repo. Sorry for the noise.

Our repositories are hosted on AWS S3, globally distributed behind Cloudfront (a CDN), and requests are load balanced to different CF distributions. It's very highly that the repositories were unavailable.

Until my comment, packages for F27 weren't actually deployed to the repositories.

[2017-11-16 14:49] bddenhartog commented on #553
Hey @dAnjou! Thanks for your idea. Did you have any specific ideas on what/where to improve? Here's how Fedy has been described for quite some time...

...from the [README](https://github.com/folkswithhats/fedy/tree/master/README.md):

...from the [website](https://www.folkswithhats.org):

![](https://screenshots.firefoxusercontent.com/images/642e42d5-b713-45fe-b950-b20746c7f134.png)
![](https://s

[2017-11-16 15:41] #432 closed

[2017-11-17 14:32] stoc2528 opened #554 "failed to sync livna"
I get this on Fedora 27 trying to install libdvdcss or when doing dnf update.  " Failed to synchronize cache for repo 'livna', disabling. "

[2017-11-17 14:42] bddenhartog commented on #554
The [`libdvdcss` plugin](https://github.com/folkswithhats/fedy/blob/master/plugins/libdvdcss.plugin/install.sh) simply installs the release RPM directly, which is what adds their repository to your system. It then installs the `libdvdcss` package, presumably from this repository.

That message usually relates to the host within the repository being unavailable - either because you are not able to

[2017-11-17 14:42] #554 closed

[2017-11-17 14:51] bddenhartog commented on #554
On their repository's landing page (http://rpm.livna.org/), near the bottom they link to a list of mirrors to use and provide an example of how to install `libdvdcss` from them. This would be a one-time action and would not affect your local `/etc/yum.repos.d/livna.repo`.

[2017-11-17 14:55] stoc2528 commented on #554
Thanks, I've got lidbdvdcss now.

[2017-11-17 15:53] #476 closed

[2017-11-17 22:24] kurosmael opened #555 "Issues with installations"
The repo (and website) appears to be down (or more precisely, forbidden by server) and when I exec
`sudo dnf -y install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.rpm `

I get

And even if I've tested it on fedora 27 here, it's the same from fedora 26 on VMs.

[2017-11-17 23:26] danstewart commented on #555
You have a typo in your command

https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm

[2017-11-18 03:33] #555 closed

[2017-11-18 14:49] bddenhartog opened #556 "Restructure the project to support a monorepo"
Currently, fedy's packaging, website, and gui application are in separate repositories. This leads to a separation of concerns, which is a good thing -- but in this case, it causes confusion for our end users as to where to put an issue. The gui application repository receives issues related to packaging, as well as issues related to the website front-end.

Combining these other services into a si

[2017-11-18 19:27] Apopatos opened #557 "Fedy opens with a blank window"
Hi,
just installed Fedora 27 and the first thing after that was to install Fedy.
Unfortunately it doesn't display anything. See the screenshot.

Thank you!

![2017-11-18 21-17-43](https://user-images.githubusercontent.com/25205438/32984042-23df51ee-cca7-11e7-98ef-21be2d6b5eb6.png)

[2017-11-18 20:14] bddenhartog commented on #557
Can you paste the output of `ls -alFh /etc/yum.repos.d`?

[2017-11-18 20:18] Apopatos commented on #557
`σύνολο 56K
drwxr-xr-x.   2 root root 4,0K Νοέ  18 21:10 ./
drwxr-xr-x. 141 root root  12K Νοέ  18 22:16 ../
-rw-r--r--.   1 root root  707 Νοέ  18 10:23 fedora-cisco-openh264.repo
-rw-r--r--.   1 root root 1,3K Οκτ  24 20:41 fedora.repo
-rw-r--r--.   1 root root  568 Νοέ  17 19:34 fedora-steam.repo
-rw-r--r--.   1 root root 1,4K Οκτ  24 20:41 fedora-updates.repo
-rw-r--r--.   1 root root 1,4K Οκτ

[2017-11-18 20:18] Apopatos commented on #557
σύνολο 56K
drwxr-xr-x.   2 root root 4,0K Νοέ  18 21:10 ./
drwxr-xr-x. 141 root root  12K Νοέ  18 22:16 ../
-rw-r--r--.   1 root root  707 Νοέ  18 10:23 fedora-cisco-openh264.repo
-rw-r--r--.   1 root root 1,3K Οκτ  24 20:41 fedora.repo
-rw-r--r--.   1 root root  568 Νοέ  17 19:34 fedora-steam.repo
-rw-r--r--.   1 root root 1,4K Οκτ  24 20:41 fedora-updates.repo
-rw-r--r--.   1 root root 1,4K Οκτ

[2017-11-18 20:22] bddenhartog commented on #557
Please try closing Fedy, and running the following command:

[code]

Then re-open Fedy. Does that work?

[2017-11-18 20:43] Apopatos commented on #557
Still the same :-(

[2017-11-18 20:48] bddenhartog commented on #557
@Apopatos thanks for the report. I've travel plans this weekend, but I'll take a look tomorrow and see if I can reproduce this.

[2017-11-18 20:50] bddenhartog commented on #557
In the mean time, you can run the plugin script files directly by executing the lines you see in the `install.sh` or install line in `metadata.json` -- you can also download the scripts from Github to your local filesystem and execute them that way.

[2017-11-18 20:51] bddenhartog commented on #557
I might ping you over the next day or two to get additional debugging information if I'm not able to recreate this right away.

[2017-11-18 20:53] Apopatos commented on #557
Thanks a lot for your time!
I'll try your suggestions and I'll inform here.
Have a nice travel!

[2017-11-18 23:30] Apopatos commented on #557
I downloaded the files from github and compiled them.
Now if I run the binary directly from the folder it works.
![2017-11-19 01-30-15](https://user-images.githubusercontent.com/25205438/32985713-3c1d663e-ccc9-11e7-9b88-e15fafb768d4.png)

[2017-11-19 14:23] dAnjou commented on #553
As a long time Linux user I've learned to trust the distros that I'm using and their package managers. I can rely on them and I know that they won't mess with my system. On the other hand I don't trust any other way of installing software, so I want to know what exactly it is doing to my system.

[2017-11-20 08:27] bddenhartog commented on #557
@Apopatos So that I can understand better, what do you mean by "compiling" Fedy?

[2017-11-20 08:49] Apopatos commented on #557
`sudo make`
as i show in the screenshot.

[2017-11-20 08:58] Apopatos commented on #557
OK fixed!
I removed /usr/bin/fedy and /usr/share/fedy,
installed it again and now works :-)

Thanks for your time!

[2017-11-20 09:07] bddenhartog commented on #557
Sorry, I was commenting from mobile :)

Nothing has changed on our end (the package is the same), so I'd like to better understand what caused your issue in the first place. Had you initially -- meaning the very first time -- installed Fedy by cloning the repository from Github and running `sudo make`?

[2017-11-20 09:16] Apopatos commented on #557
Yes, that was the problem. I hadn't notice that by running make it installed the binary.

[2017-11-20 09:24] Apopatos commented on #557
"Had you initially -- meaning the very first time -- installed Fedy by cloning the repository from Github and running sudo make?"
Yes, that was the problem. I hadn't notice that by running make it installed the binary.

[2017-11-20 10:49] bddenhartog commented on #557
We don't ship a binary, really -- just a simple executable.

I'm still confused by what you say your initial steps that led to this issue were. If you had ran `git clone`, then `sudo make install`, you should have have a working* installation.

*You actually would be missing the application icons, since those are added via `git-lfs`.

[2017-11-21 03:36] Apopatos commented on #557
I had ran `git clone` then `sudo make` (without install) but I hadn't notice that it installed the executable in /usr/bin so I didn't check if the installation was working. So I was running the executable directly from fedy-master folder (`./fedy`).
After that I installed Fedy via dnf and that's where the problem occured.

[2017-11-22 16:45] gshipley commented on #557
I am having the same problem.  Fresh 27 install and ran the following:

dnf -y install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm

$ fedy

installed fedy-core and some other packages

fedy displays blank screen.

[zero@localhost ~]$ ls -alFh /etc/yum.repos.d
total 60K
drwxr-xr-x.   2 root root 4.0K Nov 22 11:37 ./
drwxr-xr-x. 134 root root  12K Nov

[2017-11-22 17:28] bddenhartog commented on #557
I'll spin up a VM and get to the bottom of this. Thanks for the reports, @gshipley and @Apopatos!

[2017-11-23 05:30] beli3ver commented on #549
Ok, when I take the this command on a new Fedora

`dnf -y install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm`

I installed the ***fedy*** Repo, but to install fedy, I musst install the RPM Fusion Free and Non-Free Repo frist, so the bash script before was better.

[2017-11-23 10:38] ret2libc commented on #557
Same here. Fresh Fedora 27. Installing from the package with
[code]

After doing
[code]
it works

[2017-11-23 11:15] bddenhartog commented on #549
Yeah, this is a downside to how a) the current packages are set up, and b) how the website is laid out. I'll be working on making the user experience much simpler and should hopefully have updates this weekend.

[2017-11-23 11:26] bddenhartog commented on #557
I've figured out the issue, but will be traveling in a few hours for half the day. I should be able to deploy a fix by Saturday morning (PST).

If anybody else is having issues, cloning from github and running `make install` will functionally work (although you will be missing some application icons if you don't use `git-lfs`).

[2017-11-23 13:59] danstewart commented on #553
@dAnjou
We have this in the README:

The installation process is mostly bash scripts and `dnf`.
The whole point is to make installing software easier, for example here is the [install script for clion](https://github.com/folkswithhats/fedy/blob/master/plugins/clion.plugin/install.sh)

It's not very difficult to install yourself but clicking a button is easier.

What kind of information do you feel

[2017-11-23 15:22] gshipley commented on #557
Thanks for taking a look @bddenhartog.  Much appreciated!

[2017-11-23 18:07] webbkorey16 commented on #557
I am having the same issue as @ret2libc, but the "$ sudo make install " command responds with : make: *** No rule to make target 'install'.  Stop.

[2017-11-23 19:57] bddenhartog commented on #557
@webbkorey16 To clarify, you cloned the repository and are running into that error? That's pretty odd; the `Makefile` definitely has an `install` target.

[2017-11-25 00:07] sandstonegoblin opened #558 "Fedy installs 64-bit gitkraken version on 32-bit system"
Fedy installs 64bit gitkraken version (gitkraken-amd64.tar.gz) on a 32bit system.

Fedy 4.6.0
Fedora 27 32-bit

[2017-11-25 01:07] bddenhartog commented on #558
Are you sure that they offer a 32-bit client? Fedy is just downloading the archive and unpacking it: https://github.com/folkswithhats/fedy/blob/master/plugins/gitkraken.plugin/install.sh

[2017-11-25 01:34] sandstonegoblin commented on #558
No it seems only a 32 bit windows client is supported but no 32 bit linux client.

Nevertheless I would expect that it should not be possible (or without warning) to install incompatible packages with Fedy.

[2017-11-25 06:14] hunter-gon commented on #543
Hi I dont know much about this but i installed fedora 27 today and soon after installed Fedy, and it seemed to install fine but after opening fedy all i get is a blank white application window that says "fedy" at the top and has a search function. I'm not sure how to uninstall fedy, will that be needed after an fedy for f27 comes out?

[2017-11-25 06:17] aswinmohanme opened #559 "[Request] Support for Processing IDE"
It would be great if we could include the Processing Programming Environment. https://processing.org/

[2017-11-25 16:42] bddenhartog commented on #558
You're right, and this was what I was going to lead to. Right now, we don't have a good story for categorizing plugins based on architecture, so there is no method for surfacing that information to the user. If we simply excluded showing plugins that didn't have applications supporting the user's architecture, we'd probably run into things like "where is X?" being created all the time -- so it's d

[2017-11-25 16:42] #558 closed

[2017-11-29 17:50] stoc2528 opened #562 "Fedy appears broke"
New install of Fedora 27, ran " dnf update " then rebooted.
Next tried to run the install script for Fedy:  dnf -y install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm

Fedy wouldn't run after that but suggested I install fedy-core which was needed, so I did.  Then fedy was installed but it opens to a blank screen.

[2017-11-29 19:20] stoc2528 commented on #557
I'm having the same problem as **webbkorey16**

*** No rule to make target 'install'.  Stop.

[2017-12-03 10:51] harmloh commented on #557
I have same problem also , the best way to run fedy must get into make install and ./fedy

If i run from the launcher app, it was always blank

[2017-12-03 18:41] jam01 commented on #543
Just upgraded to 27 from 26, installed Fedy and it seemed fine, but can't find it on my apps and running fedy on a terminal gives `command not found`

[2017-12-04 21:42] gombosg commented on #533
This bug seems to be gone in F27. Phew.

[2017-12-05 11:12] marcread commented on #557
had the same issue also. fedora 26.  Not sure if my comment will help much.  the cloning the git works fine.
`git clone https://github.com/folkswithhats/fedy.git`
then run
`./fedy/fedy`
as a hack around i juste updated the desktop launcher
 `sudo vim /usr/share/applications/org.folkswithhats.fedy.desktop `
and changed the Exec line to the one where i cloned the the git

[2017-12-07 14:33] aanurraj commented on #543
![screenshot from 2017-12-07 20-03-26](https://user-images.githubusercontent.com/28955148/33720360-b7cffe26-db89-11e7-9660-10ad2dd74905.png)

what to do ?

[2017-12-07 14:38] GabLeRoux commented on #543
I know there are tools to inspect ui, but you should have a look to the logs. I don't know where they are exactly for Fedy, but something definitely went wrong here ;)

[2017-12-07 14:44] aanurraj commented on #543
is the stable version of fedy for Fedora 27 released ?

[2017-12-10 12:47] Abhinav1217 commented on #543
@GabLeRoux  @aanurraj what is the output of `tree /usr/share/fedy/plugins/ | tail -n 1`  and also try to launch fedy from terminal.

[2017-12-10 20:52] Olyol95 commented on #557
[The issue described](https://github.com/folkswithhats/fedy/issues/557#issuecomment-346583186) by @ret2libc seems to stem from PackageKit-command-not-found suggesting the `fedy-core` package, rather than the `fedy` package.

Using `$ sudo dnf install fedy` will install both the `fedy` and `fedy-plugins` packages that are needed to complete the installation.

[2017-12-12 06:22] ranjithsiji commented on #543
Fedy working very smoothly on fedora 27

[2017-12-12 14:51] ackcent588 commented on #543
@Abhinav1217
it is show {0 directories, 0 files}

[2017-12-12 17:02] Abhinav1217 commented on #543
@ackcent588 Fedy is not properly installed. Basically you do not have any fedy-plugins installed. Its strange. You can try reinstalling fedy, or download plugins from github to the plugin folder.

[2017-12-12 18:22] ackcent588 commented on #543
@Abhinav1217  How could I remove fedy and reinstall again
I try this "dnf remove fedy"
and not working

[2017-12-13 22:53] giovannicaligaris opened #565 "Progress bar"
Is there any way to add a progress bar or anything similar when the apps are installing or uninstalling?

[2017-12-14 07:07] bddenhartog commented on #565
Since we're really just running shell scripts under the hood, which do a variety of things, there's not really any way to estimate how long each script would run - which prevents us from showing a progress bar with any relevant amount of accuracy at all.

At best, we could provide some kind of "in progress" state change, simply to provide more visual feedback than is currently given that installat

[2017-12-14 07:40] bddenhartog commented on #553
In response to this, I would simply quote @danstewart:

[2017-12-14 10:46] giovannicaligaris commented on #565
This might be a very naive question.

If the installation script is composed of 3 commands, as an example

$ dnf -y install http://linuxdownload.adobe.com/adobe-release/adobe-release-$(uname -i)-1.0-1.noarch.rpm
$ rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-adobe-linux
$ dnf -y install flash-plugin alsa-plugins-pulseaudio libcurl

Would it be possible to have a progress bar showing the completion of

[2017-12-14 11:15] bddenhartog commented on #565
@giovannicaligaris There's no real way that I'm aware of to get a progress bar on a non-streaming shell script. Because our scripts often download files and perform multiple actions, there's no way (without manually adding in "percentages" throughout each script) to determine how far along we are in the script's execution, or how long we have until the script is complete.

[2017-12-14 11:16] bddenhartog commented on #565
I'm going to close this issue for now. If someone has a known method that could be easily implemented for determining script execution progress, I'm more than open to hearing about it.

[2017-12-14 11:16] #565 closed

[2017-12-17 09:17] aswinmohanme commented on #559
Thanks for the Approval and Happy New Year 🎆  🍾  😃

[2017-12-25 14:00] DevPre opened #567 "Brackets Installation fails."
Brackets Installation fails on Fedora 27.

Log:
[code]

[2017-12-30 13:58] valentt opened #568 "missing google gpg key"
When installing google-talk plugin you also need to install google gpg key.

Currently gpg key is missing and this breaks updates which won't update any package if there is any package from unsigned repository.

Here is a forum post that helped me to manually fix this:
https://forums.mageia.org/en/viewtopic.php?t=11095&p=64491

Please add Google gpg key automatically when adding google repo with g

[2017-12-30 14:00] valentt opened #569 "Fedy home webpage has bad install instructions"
If you copy/paste instructions from Fedy web page you don't end up with Fedy tool installed.

This is strange, because previously instructions on Fedy web page were useful and now they are very confusing, especially for new users.

[2017-12-31 02:09] DevPre commented on #569
[code]

The instructions on the website are partial.

[2018-01-05 16:02] pgonzalezalv commented on #557
Just made a clean install of Fedora 27. Had the same issue (blank Fedy window) after using the command line (cf. https://www.folkswithhats.org) :
`dnf -y install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/folkswithhats-release.noarch.rpm `

Issue is solved by configuring the RPMFusion with the following command line (cf. https://rpmfusion.org/Configuration) :
`sudo dnf install http

[2018-01-05 17:04] bddenhartog commented on #557
A patch should be out tomorrow. Sorry for the delay and inconvenience, things have been pretty crazy the past month.

[2018-01-11 13:03] gregharvey opened #570 "Suggestion: education packages"
Hi,

I am an avid Fedy user and love what you've done with it! I was wondering - off the back of this tweet: https://twitter.com/greg_harvey/status/951438540772134913 - if you would be interested in incorporating an "Education" section with the most popular kids packages within, stuff like Scratch, some drawing software, the kind of thing that ships with edu-focused distros like Ubermix.

Totally

[2018-01-11 18:03] aevernum opened #571 "Severall Issues"
Hey! Got several issues

Last metadata expiration check: 0:56:39 ago on Thu 11 Jan 2018 06:43:00 PM EET.
google-chrome-stable_current_x86_64.rpm

google-chrome

Last metadata expiration check: 0:02:49 ago on Thu 11 Jan 2018 07:41:10 PM EET.
teamviewer.i686.rpm

--2018-01-11 19:46:37--  https://github.com/atom/atom/releases/download/v1.23.3/atom.x86_64.rpm

Repository successfully enabled.
Copr rep

[2018-01-12 00:27] bddenhartog commented on #570
This would be something I would consider. I'm in the process of planning out a major overhaul to the Fedy ecosystem, and part of that involves shuffling around the "plugins" we offer - making them proper packages, enabling things like package groups and better distribution. I personally see the Fedy of the future being a whole lot easier to use, contribute to, and maintain. I've been using Arch Li

[2018-01-12 00:31] bddenhartog commented on #571
It looks like the `timeout_add()` function may have changed.

Do you have a comprehensive list of the plugins you were installing when you encountered the 404s?

[2018-01-12 18:05] aevernum commented on #571
No, sorry. On Sunday I will have an installation on a clean PC, I'll try to prepare.
For now, I can only say that this is caused by such plugins:

Arc-theme (with transparency)
Atom
Google Chrome
Telegram
Numix Themes

I did not install the rest, but there is a suspicion :)

[2018-01-19 20:58] aevernum opened #572 "[Request] Double Commander"
Hey! Can u add a plugin with this file manager?
Repo:
`dnf config-manager --add-repo https://download.opensuse.org/repositories/home:Alexx2000/Fedora_27/home:Alexx2000.repo
`
he have 3 versions:
`dnf install doublecmd-gtk
`

`dnf install doublecmd-qt
`
`dnf install doublecmd-qt5
`

[2018-01-19 21:10] aevernum opened #573 "[Proposition] Some options and expansion of the functionality."
Expand the number of tabs, and various third-party software.
Make the first tab, with the ability to connect third-party repositories, such as a rpmfusion, RFRemix, negativo17 and others.
if you want, i can help, i have time for this :)

[2018-01-20 15:42] bddenhartog commented on #573
I'm in the process of building a new UI. Please reformat your requests into a list, or at least make it finite ("and others" isn't something that can be reviewed/approved/discussed)

[2018-01-20 22:25] aevernum commented on #573
Thanks, I understood where to start.

[2018-01-27 13:35] binarynut commented on #543
# dnf -y install folkswithhats-release-3.0.0-1.noarch.rpm                          Last metadata expiration check: 2:41:08 ago on Sat 27 Jan 2018 05:43:27 AM EST.
Dependencies resolved.
=============================================================================================================
 Package                            Arch                Version              Repository

[2018-01-27 17:08] bddenhartog commented on #543
@binarynut Please run the command `dnf install -y fedy`.

[2018-01-27 17:22] binarynut commented on #543
dnf install -y fedy
Thanks very much, that work.

[2018-01-27 18:40] bddenhartog commented on #568
Do you mean the plugin for Hangouts? I've just tested this, and was unable to reproduce your issue. If you encounter the error again, please launch `fedy` from the command line, and paste the entire output within a code block.

[2018-01-27 18:43] bddenhartog commented on #568
I see that while the plugin installed successfully, we _did_ fail to import the key. This prevents upgrading the `google-talkplugin` package, as mentioned in the first comment.

Thanks for the issue! Sorry for the preemptive close :)

[2018-01-28 23:29] saidtechnology commented on #543
yes Thanks is worhing with me

[2018-02-12 19:20] GabLeRoux commented on #557
Just tried again on a brand new Fedora installation

[code]

But running `fedy` right after failed with a command not found. So I tried to run `sudo dnf install -y fedy` but it complained about a conflicting package `fedy-plugins`.

[code]

I didn't have any `fedy` package installed (searched with `sudo dnf list installed *fedy*` and had nothing).

[code]

So I accepted and installed `fedy-core` a

[2018-02-12 19:36] bddenhartog commented on #557
@GabLeRoux Yup, those are the correct steps. The command shown on the current iteration of the website simply installs the repository for our packages, and doesn't install RPMFusion's repositories or the `fedy` package, which provides the interface.

I've been busy and rather inactive on Github - sorry folks.

[2018-02-13 21:00] #557 closed

[2018-02-14 01:25] GabLeRoux commented on #569
Can probably be closed by folkswithhats/folkswithhats.org@e911a05 👍

[2018-02-14 01:30] bddenhartog commented on #569
@GabLeRoux Good catch.

[2018-02-14 01:30] #569 closed

[2018-02-24 20:10] sam0hack opened #574 "Brackets installation failed"
I'm using Fedora 27 and fedy is unable to install brackets

[2018-02-25 00:02] bddenhartog commented on #574
Please do the following:

1. From a terminal, type `fedy | tee /tmp/fedy-brackets.log` and press enter.
2. Without doing anything else, attempt to install the Brackets plugin. After it fails, close the Fedy application.
3. Paste the output of `/tmp/fedy-brackets.log` here. If you have xclip installed, you can run `cat /tmp/fedy-brackets.log | xclip -selection clipboard` to copy the contents direct

[2018-02-26 16:39] #574 closed

[2018-02-28 21:09] bddenhartog commented on #574
@sam0hack , did you figure out the cause and solution for your issue?

[2018-02-28 21:15] bddenhartog commented on #574
@sam0hack , did you figure out the cause and solution for your issue? Leaving a comment for both my and future readers' knowledge would be greatly appreciated.

[2018-03-02 04:55] bddenhartog commented on #574
I figured as much - just wanted to make sure we didn't leave this story unanswered.

I'll create an issue to find and implement a new source for Brackets, or to remove it if no suitable source is found.

[2018-03-02 04:57] sudoforge opened #575 "Brackets should be removed"
In #574, it was determined that the plugin for Brackets was using a heavily outdated COPR. An updated source for installation should be found; if one is not available, the plugin should be removed.

[2018-03-02 12:57] sam0hack commented on #574
Great. and @bddenhartog thank you for making this wonderful tool. I'll look forward to contributing to this repository.

[2018-03-03 15:01] bddenhartog commented on #533
Appears to be resolved.

[2018-03-03 15:01] #533 closed

[2018-03-05 09:31] gombosg opened #576 "[Request] Reinstall/upgrade button"
Hi,

Feature request for Fedy: installed apps need to be updated fairly frequently. What about a "reinstall/upgrade" button for already installed apps? It it would the uninstall script and the install script again. No need to click and enter password twice etc.

This way, there would be no need to write "upgrade" scripts for each plugin.

[2018-03-09 05:15] Xmetalfanx commented on #575
seeing this "issue" and browsing around a bit, I found this  https://github.com/adobe/brackets/issues/14036 mentioning Brackets on Fedora 27..... also on the Brackets github page (this may be worth keeping an eye one, i suppose) https://github.com/adobe/brackets/issues/14135 asking for (among other distros) "Fedora Support"

[2018-03-10 14:51] danstewart commented on #553
Will close this due to the age of it and lack of discussion.

[2018-03-10 14:51] #553 closed

[2018-03-10 15:02] danstewart commented on #485
Fix merged #494

[2018-03-10 15:02] #485 closed

[2018-03-10 15:08] danstewart commented on #567
@DevPre Can you still reproduce this error? I've just tried to install and it worked fine.

Worth noting we'll probably be removing the brackets plugin as the copr doesn't seem to be maintained anymore. See #575

[2018-03-10 18:32] bddenhartog commented on #483
Closed by #577

[2018-03-10 18:32] #483 closed

[2018-03-10 19:39] bddenhartog commented on #567
Sorry, I should have closed this after addressing #574.

[2018-03-10 19:39] #567 closed

[2018-03-10 19:41] bddenhartog commented on #567
Duplicate of #574.

[2018-03-11 18:23] #433 closed

[2018-03-20 20:35] bddenhartog commented on #568
This was fixed by #578 and merged into master at b0a5e391d160e9a029f67f794c083501f9cd9be3

[2018-03-20 20:35] #568 closed

[2018-03-27 06:28] jonbybc74 opened #581 "Simplenote Plugin issue"
Fedy unable to install new versions of Simplenote ( only the old version )

Seems like Simplenote guys made a change in its filename pattern

In fedy script its appear as
 Simplenote-linux-x64.[0-9.]{5}.tar.gz
but the new filename pattern is
Simplenote-linux.[0-9.]{5}.tar.gz

After removing "-x64" seems like the new version is installed with Fedy.

Please verify.

[2018-03-29 00:26] bddenhartog commented on #540
Oof. This was unlabeled and escaped my notice. I'm going through issues and assigning appropriate labels. Is this still something that needs to be looked into?

[2018-04-05 15:59] gregharvey commented on #570
Oh, that's good news, nice! I'll keep an eye on this. If you need a tester, I can provide a 10-year-old.

[2018-04-16 20:37] ameeno commented on #551
I am new to Fedora after distro-hopping for a couple of weeks. Liked Solus, but too restrictive and battery sucked on my laptop.

Ubuntu 18.04 is clunky, not for me and Debian variants have ruined my server use experience, and I like Fedora, very polished. However, I Need an app like fedy to get things working.

As I was installing fresh and Fedora 28 is due to be released very soon, I opted to in

[2018-04-16 20:43] bddenhartog commented on #551
@ameeno I'll do a manual build for F28 as soon as I get a chance to today, and let you know in a comment on this issue.

[2018-04-17 13:52] ameeno commented on #551
Thanks very much, I retried today and no luck :( is it because there is only a testing branch?

[2018-04-21 18:14] sudoforge commented on #551
Hey there, just an update.

I have a _crazy_ busy week and didn't do an F28 build. I have some time this weekend, and will get a build out for you today. You can expect it in a few hours, I've got to head out to run some errands.

[2018-04-22 20:36] sudoforge commented on #551
@ameeno Can you confirm that you can install Fedy?

[2018-04-22 21:44] pscheid92 commented on #551
@sudoforge I tried to install Fedy from the official website.
As far as I can tell, everything worked fine (with a new F28 Beta installation).

[2018-04-22 22:11] sudoforge commented on #551
@pscheid92 Thanks for double checking. I ran it in a VM and clarified the packages install successfully in F28 beta, but didn't do any testing beyond that.

[2018-04-24 14:34] jurf opened #582 "[Request] Pop!_OS theme"
https://github.com/pop-os/gtk-theme

It looks really neat, it would be nice to be able to get it under Fedora.

Cheers.

[2018-04-25 11:44] Alexis6307 opened #583 "Can't update smoothly - need to remove the `fedy-plugins` and `fedy-core` packages"
Hi,

if I try to update my system the Fedy repo crash:

[code]

[2018-04-25 14:50] sudoforge commented on #583
Please paste the output of the following commands:

[code]

**Output**:

[code]

**Output**:

[code]
**Output**:

[2018-04-25 14:51] sudoforge commented on #583
Please paste the output of the following commands:

[code]

[code]

[code]

[2018-04-25 15:45] Alexis6307 commented on #583
dnf info fedy:
[code]

dnf info fedy-plugins:

[code]
dnf info fedy-core:

[code]

[2018-04-25 16:12] sudoforge commented on #583
What happens if you run `dnf remove fedy-core fedy-plugins && dnf upgrade`? Do you upgrade successfully? What's your `fedy` version after that?

The issue at hand here is that `fedy-plugins` is looking for `folkswithhats-release`, which is obsoleted by `fedy-release`. The `fedy-plugins` package used to be bundled with `fedy`, but is no longer a dependency.

New installations will not encounter thi

[2018-04-25 19:35] notdaniel commented on #583
I was having this same issue, but the removal/upgrade solution proposed did the trick for me.

[2018-04-25 20:02] sudoforge commented on #583
Yeah - removing `fedy-core` and `fedy-plugins` will work, but obviously I want as smooth a transition as possible. I'll make some time later today to install `4.6.0-0` and figure out a solution so we don't cause peoples' `dnf update` and `dnf upgrade` executions to error out.

I really apologize for the error to anyone who encounters it. I'm working out restructuring the packages we serve from our

[2018-04-26 08:01] Alexis6307 commented on #583
Thanks for your support, the solution you provide works for me :)

[2018-04-26 22:35] sudoforge commented on #583
Update: I think I've figured out the issue. I'll be fiddling around with the packages a bit more tonight and will hopefully have a fix out by tomorrow.

[2018-04-28 18:48] Minkiu commented on #583
Hello, any update? Just encountered this issue, and I removed `fedy-core` and `fedy-plugins`, updated, and now I can't install fedy again.

[2018-04-28 19:48] sudoforge commented on #583
What error are you getting installing `fedy`? It sounds like you may be encountering a different issue.

[2018-04-29 11:09] Minkiu commented on #583
Hi,

This is what I get:
[code]
Thanks.

[2018-04-29 17:40] sudoforge commented on #583
@Minkiu The `fedy` package no longer requires `fedy-core` or `fedy-plugins`. Simply running `dnf install fedy` should get you to a working state.

[2018-04-29 18:44] #583 closed

[2018-04-30 05:55] Dapid opened #584 "Can't update, bad download size"
`dnf update` fails thusly:

[code]

[code]

[2018-04-30 08:25] bigkrp commented on #584
Same issue.
Due to fedy I can not update anything((

[2018-04-30 08:51] Dapid commented on #584
@bigkrp `dnf update --exclude fedy*` lets you update the rest.

[2018-04-30 14:29] sudoforge commented on #584
@Dapid @bigkrp @syedah314 This should now be resolved. Please let me know if you encounter any further issues.

[2018-04-30 14:30] #584 closed

[2018-04-30 15:39] metabsd opened #585 "No more mirror to try"
Hi,
I try to dnf update my fedora box this morning and I got and error on fedy-release package.

[code]

[code]
[code]

I retry `dnf update -y` and I got the same error.

I also get Access Denied when I try `https://dl.folkswithhats.org/fedora/`

[2018-04-30 16:08] sudoforge commented on #585
As for your error - your local cache is outdated. Users who encounter this same issue should execute:

[code]

Note that the above `dnf clean expire-cache` command will expire the cache for all of your repositories. Since this issue should only apply to those that have `folkswithhats-release-4.6.0` or less installed, you can limit the cache expiration to just the repository you have installed on y

[2018-04-30 16:12] #585 closed

[2018-04-30 16:16] syedah314 commented on #584
Working fine. Thanks for the quick turnaround.

[2018-05-01 01:01] sudoforge commented on #585
Are you _sure_ you successfully cleared your cache? I'm not able to recreate your error.

**Please run the following commands in succession:**

[code]

The last command will copy the contents of the log file to your clipboard. Please paste it in a new comment on this thread.

[2018-05-01 17:15] sudoforge opened #586 "Remove plugins for software managed via Fedora-supported Third Party Repositories"
Fedora Workstation 28 brings two additions to _Third Party Repositories_, which makes it easy to add third party repositories for the following tools/projects:

* Google Chrome, the web browser from Google (`google-chrome.repo`)
* PyCharm, Python IDE for Professional Developers by JetBrains (`_copr_phracek-PyCharm.repo`)
* NVIDIA graphics drivers (`rpmfusion-nonfree-nvidia-driver.repo`)
* Steam cl

[2018-05-02 15:00] metabsd commented on #585
I retry this morning and it's working.

[2018-05-02 15:03] sudoforge commented on #585
It seems like perhaps your cache didn't get cleared the other day, then. Glad it's working for you!

[2018-05-02 15:45] jurf commented on #582
I’ve just realised that it’s already present in the archives as `pop-gtk-theme.noarch`, it just isn’t visible in GNOME Software `>.<` Sorry for the buzz.

[2018-05-02 15:45] #582 closed

[2018-05-02 16:59] sudoforge commented on #582
Good find - I hadn't yet had a chance to take a look at this.

[2018-05-02 19:44] goosenphil opened #587 "Fedora 28 support"
Since Fedora 28 is now released it would be nice to have support for it in fedy.

[2018-05-02 19:53] sudoforge commented on #587
Fedy has been available for Fedora 28 [since April 22 2018](https://github.com/fedy/repo/commit/9ea2db07f21b2114c1d10b51c317fee993a0e447).

[2018-05-02 19:53] #587 closed

[2018-05-15 14:53] sudoforge commented on #548
Closing as Steam will be removed from Fedy (see #586).

[2018-05-21 01:32] rishadfb commented on #485
It's broken again. Doesn't install for me.

[2018-05-28 17:16] sudoforge opened #589 "The icon name for Android Studio needs to be updated"
Google has refactored the icon for Android Studio from `androidstudio.svg` to `studio.png`.

This results in the `xdg-icon-resource` command failing, which results in the plugin failing to install.

Originally reported in #588 by @ArvindNair001.

[2018-05-28 17:20] sudoforge commented on #589
Closed by #588.

[2018-05-28 17:20] #589 closed

[2018-05-28 17:28] sudoforge opened #590 "Stale application needs to be configured for this repository"
[Stale][0] has been installed for this repository, but needs to be configured.

As an initial foray, we should close issues and pull requests that have been inactive for more than 60 days and do not have any of the following labels:

- `type:bug`
- `area:security`
- `state:pinned`

A new label should be created, which should be used by the application:

`state:stale`

[0]: https://github.com/probo

[2018-05-28 23:50] #590 closed

[2018-05-29 01:54] sudoforge commented on #448
I'll be working on this shortly after #556 is closed.

[2018-05-29 02:55] sudoforge opened #592 "MasterPDF fails to install due to incorrect URI search string"
The vendor for the MasterPDF application provides an RPM, but no repository. Currently, the installation script determines the URL for the RPM with the following commands:

[code]

The problematic line is the argument passed to `grep`. The vendor recently updated the URL for the RPM to use the `https://` prefix. This breaks results in the above commands returning an empty string, which is explicit

[2018-05-29 03:00] sudoforge commented on #592
While building a package for MasterPDF would be nice, a good interim solution to resolve this critical bug would be to update the argument passed to `grep` to support the `https` protocol.

[2018-05-29 08:37] jonbybc74 commented on #581
I just offer a solution. can you commit changes to code?

[2018-05-29 14:50] sudoforge commented on #581
@jonbybc74 A patch will be applied to address this in the next release.

[2018-05-30 13:38] sudoforge commented on #485
@rishadfb I've created a new issue for this problem: #592

[2018-05-31 18:19] beli3ver opened #594 "Dino plugin isn't displayed in Fedy"
Hi,

when you release a new fedy plugin update?
Dino was created for 5 month, but when I installed the latest fedy from repo dino is not showing up.

[2018-05-31 18:22] sudoforge commented on #594
This is due to the directory being misnamed - it should be `dino.plugin` instead of `dino.plugins`. Fedy won't display it due to this typo.

[2018-05-31 18:25] sudoforge opened #595 "Signal needs to be added as a plugin"
COPR: `luminoso/Signal-Desktop`
Package name: `signal-desktop`

[2018-05-31 18:27] #595 closed

[2018-06-02 10:24] RafalSkolasinski opened #598 "menu does not render properly on Fedora KDE 28"
As on screenshot. On Fedora KDE 28 Fedy's menu does not render properly.
I didn't notice anything similar in other applications.

![screenshot_20180602_122358](https://user-images.githubusercontent.com/10928117/40873410-d49d950c-665f-11e8-84d8-01fa214df1d7.png)

[2018-06-02 14:16] sudoforge commented on #598
@RafalSkolasinski Can you run Fedy from the terminal, and check to see if there are any warnings or error messages displayed?

[2018-06-02 14:19] sudoforge commented on #598
To note - please include any stdout/stderr you do receive in a comment here.

Dank je!

[2018-06-03 12:38] RafalSkolasinski commented on #598
I did start Fedy from a terminal. The only thing that got displayed is
[code]

[2018-06-03 18:09] sudoforge opened #599 "Static site and repos need to be moved to fedy.org"
The domain `fedy.org` was acquired at the end of April 2018. We should migrate the static site and repositories to `fedy.org` in order to begin the deprecation process for `folkswithhats.org` and the associated "Folks With Hats" identity.

Redirects should be set up to ensure traffic is routed successfully, and the release package (`fedy-release`) should be updated to reflect the new URIs.

[2018-06-03 18:14] sudoforge opened #600 "Add terraform configuration files for existing infrastructure"
Terraform scripts should be added for our existing infrastructure, so it can be managed via code.

---

Blocks #599

[2018-06-03 20:53] sudoforge commented on #598
I was not able to reproduce this in a live image using the [KDE Plasma Spin][1]:

![20180603_134252675][img-vm]

[img-vm]: https://user-images.githubusercontent.com/3893293/40891060-7e356958-6734-11e8-988f-d91be69276f7.png

What, exactly, have you changed/configured post installation?

Can you try rolling back the nouveau drivers, or installing the proprietary nvidia drivers, and letting me know i

[2018-06-03 20:54] sudoforge commented on #598
I was not able to reproduce this in a live image using the [KDE Plasma Spin][1]:

![20180603_134252675][img-vm]

[img-vm]: https://user-images.githubusercontent.com/3893293/40891060-7e356958-6734-11e8-988f-d91be69276f7.png

What, exactly, have you changed/configured post installation?

Can you try rolling back the nouveau drivers, or installing the proprietary nvidia drivers, and letting me know i

[2018-06-03 22:35] sudoforge commented on #598
I'm leading with your graphics card/driver as the source of the issue currently, as I'm testing using an Intel HD 5500 chip and am not able to reproduce this.

[2018-06-04 00:38] sudoforge opened #601 "Print a console message when loading a plugin into the view"
This will help with debugging from the console.

[2018-06-04 00:42] sudoforge opened #602 "JS warning regarding undefined "license" property"
When starting Fedy from the command line, the following message is displayed:

[code]

This originally surfaced in #571.

[2018-06-04 00:43] sudoforge commented on #571
I've created a separate issue for this: #602

[2018-06-04 01:06] #575 closed

[2018-06-04 01:08] #601 closed

[2018-06-04 01:10] #602 closed

[2018-06-04 01:29] #594 closed

[2018-06-04 02:06] sudoforge opened #607 "Refactor Fedy to be a repository and COPR browser"
System packages have a number of benefits, which has been discussed in previous issues:

* [#448 - [RFC] Building plugins as system packages instead of shipping shell scripts][448]
* [#466 - [RFC] Add fedy to the RPM Fusion repo][466]

Fedy's GUI should be rewritten to support listing packages available in any repository stored on the user's machine, as well as packages available from the COPR.

[

[2018-06-04 02:09] sudoforge commented on #448
Closing in favor of #607.

[2018-06-04 02:13] sudoforge commented on #422
Closing as irrelevant due to #607. Users who wish to provide software for others in the community will be able to do so (and have it displayed in Fedy) by creating a COPR repository.

[2018-06-04 02:13] #422 closed

[2018-06-04 02:18] sudoforge commented on #447
Closing in preference of #607.

[2018-06-04 02:18] #447 closed

[2018-06-04 15:30] RafalSkolasinski commented on #598
After installing the proprietary driver the issue is gone.

The only funny thing is that without it everything else works better, only Fedy has this glitches when I hover my mouse over the menu. When I install proprietary driver ``xorg-x11-drv-nvidia`` everything else is working slightly worse...

[2018-06-04 15:34] RafalSkolasinski commented on #598
I just checked: the issue also appear on Gnome, so is not KDE specific.

[2018-06-04 15:49] sudoforge commented on #598
Thought that might be the case.

Well of course it won't be DE specific; the issue is with your GPU(s) and driver.

Is there anything funky in the `dmesg` log when you run `fedy`?

[2018-06-04 16:11] RafalSkolasinski commented on #598
driver.

Sometimes certain apps behave differently on qt and gtk, didn't hurt to
check.

I do not see anything appearing there at all when running fedy.

--
Rafał Skolasiński

GitHub: https://github.com/RafalSkolasinski
Kwant GitLab: https://gitlab.kwant-project.org/r-j-skolasinski

On 4 June 2018 at 17:49, Ben Denhartog <notifications@github.com> wrote:

[2018-06-05 01:27] #313 closed

[2018-06-05 01:28] #364 closed

[2018-06-05 01:28] #400 closed

[2018-06-05 01:28] #256 closed

[2018-06-05 01:28] #342 closed

[2018-06-05 01:28] #576 closed

[2018-06-05 01:28] #537 closed

[2018-06-05 01:28] #573 closed

[2018-06-05 01:28] #270 closed

[2018-06-05 01:28] #540 closed

[2018-06-05 02:59] #221 closed

[2018-06-05 02:59] #296 closed

[2018-06-05 02:59] #420 closed

[2018-06-05 15:07] sudoforge commented on #598
How about in your Xorg log?

@fedy/team if someone has an nvidia card and can attempt to reproduce this, that'd be great

[2018-06-05 22:51] RafalSkolasinski commented on #598
I do not see anything in ``/etc/var/Xorg.0.log`` when running Fedy.

In addition I just tested in the Live KDE Fedora from USB Stick.
The only changes to live system I did was execution of instructions on
fedys webpage.
I confirm that I still have bug in this situation.

The graphic card is nvidia 970 GTX

--
Rafał Skolasiński

GitHub: https://github.com/RafalSkolasinski
Kwant GitLab: https://gitl

[2018-06-05 22:59] sudoforge commented on #598
What if you rolled the nouveau drivers back to a previous version?

[2018-06-05 23:07] RafalSkolasinski commented on #598
How can I do it? I do not see different version for Fedora 28 than
``xorg-x11-drv-nouveau-1.0.15-4.fc28.x86_64.rpm``

--
Rafał Skolasiński

GitHub: https://github.com/RafalSkolasinski
Kwant GitLab: https://gitlab.kwant-project.org/r-j-skolasinski

On 6 June 2018 at 00:59, Ben Denhartog <notifications@github.com> wrote:

[2018-06-06 13:42] Abhinav1217 commented on #607
We should try out fedora modularity https://docs.fedoraproject.org/fedora-project/subprojects/fesco/en-US/index.html#complex-packager-workflows as then it would remove need to build fedy repo for each new release manually.

[2018-06-06 14:11] sudoforge commented on #607
Moved @Abhinav1217's comment to the team discussion page.

[2018-06-11 16:35] #570 closed

[2018-06-24 16:42] sudoforge commented on #551
I haven't yet found a release-only announce list for Fedora to use as a way to automatically trigger builds for packages for a new version.

I think one potential solution is to pull the `:latest` docker tag and check the version that way. I'm open to ideas.

[2018-06-24 16:55] sudoforge commented on #598
@RafalSkolasinski I made that suggestion without checking the packages. At this time, `1.0.15-4` is the latest available release of that package for F28.

@fedy/team It would still be helpful for anyone with an NVIDIA card to spin up an F28 (KDE) VM and test this.

[2018-06-24 17:02] RafalSkolasinski commented on #598
It may be easier to boot a Live USB. I checked that the issue is also
present then.

--
Rafał Skolasiński

GitHub: https://github.com/RafalSkolasinski
Kwant GitLab: https://gitlab.kwant-project.org/r-j-skolasinski

On 24 June 2018 at 17:55, Ben Denhartog <notifications@github.com> wrote:

[2018-06-24 17:15] sudoforge commented on #598
Booting with a Live USB or in a VM won't make a difference. The issue is tied to the nouveau driver and an NVidia card, so as long as the tester is running F28 on a machine with an NVidia GPU, they should encounter the issue.

[2018-06-26 16:21] pscheid92 commented on #551
Let me get this straight:
You want a website which you can process automatically to trigger your builds?

If I got the [Fedora Schedule Methodology](https://fedoraproject.org/wiki/Fedora_Release_Life_Cycle) right, they create a new release branch, when they start to stabilize a new release. Therefore, if they are going to release Fedora 29 they will create a f29 branch in the git repositories of F

[2018-07-14 22:36] andresimi opened #608 "Popcorn not lauching on fedora 28"
The popcorn do not work on fedora 28.
The install is ok, but when I try to run the program, the following error appears:

[23167: 23167: 0714/192846: ERROR: browser_main_loop.cc (260)] Gtk: Could not find the themes tool in module_path: "murrine"

[2018-07-15 17:35] sudoforge commented on #608
This is not a Fedy issue; you see that error because you are missing the `gtk2-engines` package.

[2018-07-15 17:35] #608 closed

[2018-08-26 20:13] sudoforge commented on #598
@RafalSkolasinski do you still experience this with the latest NVIDIA drivers?

[2018-08-30 16:33] fpernice518 opened #616 "No Icons for some programs"
I've tried to install some software via Fedy (such as Opera, Phpstorm, and Webstorm, among others). However the icons do not seem to be rendering properly. I'm installing on a fresh copy of Fedora 28.

Please see the screenshots below.

![screenshot from 2018-08-30 12-31-35](https://user-images.githubusercontent.com/30581999/44865604-c9ee5100-ac50-11e8-8e28-1aa0556a6d1c.png)
![screenshot from 2018

[2018-09-11 02:06] DePingus opened #617 "RAMBOX (install) Failed"
Running up to date Fedora 28. Here is what appears in the console window:
[code]

[2018-09-11 15:56] sudoforge commented on #598
Closing; unable to reproduce, lack of activity from the submitter.

[2018-09-11 15:56] #598 closed

[2018-09-11 16:53] sudoforge commented on #617
Bug confirmed. Repository was moved to `github.com/ramboxapp/community-edition`; while the `/repos/:user/:repo/releases/latest` endpoint still returns 200 and provides the correct response, the `browser_download_parameter` contains the updated repository URI.

In short, the variable `GITHUB_DOWNLOAD_URL` in `install.sh` for this plugin needs to be updated, due to the `grep` command failing to grab

[2018-09-16 04:12] andresimi commented on #608
Hi, according this (https://github.com/popcorn-official/popcorn-desktop/issues/776), popcorn 3.10 don't run on fedora 28. Maybe fedy should considerate downgrade to 3.9. Thank you.

[2018-09-18 18:37] fpernice518 commented on #616
bump

[2018-09-19 17:12] sudoforge commented on #616
@fpernice518 I'll be able to look into this and confirm it this weekend.

[2018-09-26 01:16] #486 closed

[2018-10-03 12:48] horizonbrave opened #621 "which fedora versions are supported?"
Hi, to avoid problems/breakage for basic users (whom are the target of your project), both the website and github page should state what version of Fedora is supported! Thanks :)

[2018-10-06 19:36] sudoforge opened #623 "Add jq as a dependency"
This will allow us to use `jq` in installation scripts, which will be useful when using third party APIs (such as the GitHub API) to determine download URIs.

[2018-10-07 09:43] narendravardi commented on #623
@sudoforge, can i pick this up?

[2018-10-07 10:48] sudoforge commented on #623
@narendavi This was actually closed in #624 - it was necessary for something I requested in #622, so I just fired it off quickly.

Thanks for checking first! Any other of the [hacktoberfest issues][0] should be pretty quick - let me know if you have any questions.

[0]: https://github.com/fedy/fedy/labels/hacktoberfest

[2018-10-07 10:48] #623 closed

[2018-10-07 16:31] sudoforge opened #625 "Remove github application 'stale'"

[2018-10-07 16:32] sudoforge opened #626 ""COPYING" should be renamed "LICENSE""
The file `COPYING` in the repository root should be renamed to `LICENSE` for clarity. Be sure to update any references to it.

[2018-10-07 16:37] sudoforge opened #628 "Remove the '.plugin' suffix from plugin directories"
The `.plugin` suffix in directories is extraneous and unecessary, as they already reside in `/plugins`. We should remove the suffix from the directories and update all references that may include the suffix.

[2018-10-07 16:45] jonas-martinez commented on #628
Hi ! I am new on Github but I would like to try working on this issue

[2018-10-07 16:50] sudoforge commented on #628
@jonas-martinez Feel free to pick it up!

[2018-10-07 16:55] #626 closed

[2018-10-07 17:18] #625 closed

[2018-10-18 09:12] gombosg opened #632 "Fedora 29 support"
Is Fedora 29 supported?

DNF says: unable to sync Fedy repo, can't find F29 version.
URL `https://dl.folkswithhats.org/fedora/29/RPMS/fedy-release.rpm` returns a 403.

Fedora 29 is already in beta, due to be [released](https://fedoraproject.org/wiki/Releases/29/Schedule) in 1-2 weeks. It would be great to test Fedy on the beta version before the large userbase upgrades and finds installation to be

[2018-10-31 10:32] sam0hack commented on #632
Fedora 29 released but still, this repo is not supported

[2018-11-01 02:30] danstewart commented on #632
We're working on building for F29 and will let you know once available.

[2018-11-05 08:11] dddw commented on #632
any progress?

[2018-11-05 08:13] sam0hack commented on #632
@dddwI just checked no update yet!

[2018-11-05 15:37] stratacast commented on #632
I'm excited for Fedy to be ready on F29, but I do know that Fedora released version 29 ahead of schedule, so I'll patiently wait, but will also be excited to see the continued great work of the Fedy devs

[2018-11-07 14:58] gombosg commented on #632
AFAIK the F29 release wasn't ahead of schedule, it was [on schedule](https://fedoraproject.org/wiki/Releases/29/Schedule).

[2018-11-07 16:15] sudoforge commented on #632
Hey folks - an update:

I've been out of commission for the past week; my previous machine gave
out on me and I haven't had a chance to set up my new personal machine
due to packing and moving.
I plan to be up and running tonight and should have a release for F29
within the next 48 hours.
In the meantime, you should be able to:

- Build Fedy locally by cloning the repo and running `make
  install`

[2018-11-08 02:56] ranjithsiji commented on #632
Thank you for your dedication and replay. People need Fedy badly to setup a good Fedora production env. So waiting for the update. The way of cloning and running is ok. But setting up some 10 machines or more is a tedious work without fedy. So waiting...

[2018-11-09 12:47] jcmiglia commented on #632
I love Fedy, but you could use yum shell command if you need to install same packages in different computers automatically.

[2018-11-09 12:50] jcmiglia commented on #632
I love Fedy, but you could use yum shell to install automatically  everything on those machines.

[2018-11-09 16:53] #592 closed

[2018-11-09 16:57] #581 closed

[2018-11-12 07:31] mhsabbagh commented on #632
Any news regarding F29 support?

[2018-11-13 15:01] stoc2528 commented on #632
Any update on when Fedy will work on Fedora 29?

[2018-11-14 13:14] throwaway876 commented on #632
Guys- don't go bothering the dev asking for release dates. It'll be done when it's done and he/she'll update. They make this for free and hounding for updates gets quite annoying.

Also, dude or dudette doing 10 machines- I'd suggest looking into Ansible for deploying to a large number of machines rather than a GUI tool.

[2018-11-14 13:35] danstewart commented on #632
For anyone that needs fedy now here is how to build it from source

[code]

There are issues with some icons but apart from that you shouldn't have any issues.

The dependencies can be found in the [README](https://github.com/fedy/fedy#dependencies)

@sudoforge is the only one of the maintainers that can do the release, but as he mentioned he's having issues with his PC. It's something we're going

[2018-11-16 01:18] JanekKondzior opened #634 "issue with installations"
sudo dnf install https://dl.folkswithhats.org/fedora/$(rpm -E %fedora)/RPMS/fedy-release.rpm
Last metadata expiration check: 0:00:50 ago on Fri 16 Nov 2018 12:14:18 PM EST.
[MIRROR] fedy-release.rpm: Status code: 403 for https://dl.folkswithhats.org/fedora/29/RPMS/fedy-release.rpm
[FAILED] fedy-release.rpm: Status code: 403 for https://dl.folkswithhats.org/fedora/29/RPMS/fedy-release.rpm
Status co

[2018-11-16 04:02] berkcodes commented on #634
Hi Janek,

Unfortunately Fedy for F29 hasn't been made available as a RPM package yet. If you still would like to use Fedy, you can install it manually by following the steps here: https://github.com/fedy/fedy/issues/632#issuecomment-438663429

Duplicate of #632

[2018-11-16 10:53] danstewart commented on #634
Closed as duplicate of #632

Here are the instructions to install from source
[code]

[2018-11-16 10:53] #634 closed

[2018-11-19 12:01] JanekKondzior commented on #634
ah okay,  thanks guys. i'm quite new too fedora!

[2018-11-28 02:50] emanueltobias commented on #634
Thanks,
to delete the directory use
# Clean up
cd .. && rm -r fedy

[2018-11-30 07:01] Abhinav1217 opened #636 "Update fontconfig plugin"
Our current fontconfig plugin was created by fedy's original author @satya164 . It is very basic setting and has received a very few updates since it's inception.

There is currently a frequently updated copr going around as suggestion on reddit /r/fedora , and other fedora related forums. Here is a [link for review](https://github.com/silenc3r/fedora-better-fonts
).

On my 1080p backlit laptop an

[2018-11-30 07:09] Abhinav1217 commented on #636
There are some other tips regarding fonts on subreddit https://www.reddit.com/r/Fedora/comments/9l0w4y/improving_fonts/ , So if the copr solution doesn't fit our needs, we can still make some modern updates from those. Current plugin was written in the era when 1080p and 4k oled screen were not a standard on laptops. Our last update on fontconfig was basically done to improve for 1080p screen in a

[2018-12-18 21:59] dyasny commented on #632
More than a month later - still no joy.

[2019-01-01 15:47] amnoni commented on #632
Any news?

[2019-01-12 01:11] sudoforge commented on #636
@abhinav1217 feel free to submit a patch at any time

[2019-01-13 16:52] krhlnx commented on #632
its working in fedora 29 no issues
git clone https://github.com/fedy/fedy.git && cd fedy && sudo make install

[2019-01-13 16:55] krhlnx commented on #632
![screenshot from 2019-01-13 19-54-57](https://user-images.githubusercontent.com/46652796/51088128-3172ec00-176d-11e9-8c28-04badd7deffe.png)

[2019-01-14 00:32] gombosg commented on #632
@krhlnx For any software, "works on my machine" is not the same as actually being developed, enhanced, supported, fixed, being taken care of. The Fedy window may work, but since all the scripts are for F28 and earlier, anything may be broken for F29 and never get fixed.

Call me overly cautious, but since this app is supposed to do `sudo` stuff, it should be used with caution, especially for the p

[2019-01-14 08:50] jeffshee opened #638 "[Request] some tweaks for better UI"
Hi, please consider add these into `Tweaks` section if u find them useful.
1. QGtkStyle for better Qt integration in Gnome environment, source from here: [ArchLinux](https://wiki.archlinux.org/index.php/Uniform_look_for_Qt_and_GTK_applications)
Install `qt5-qtstyleplugins`
Append below lines into .bash_profile
[code]

2. A quick workaround for Wine blurry text rendering (this probably never get fi

[2019-01-30 10:30] fepitre opened #639 "Display RPM signing keys"
Provide the keys used for signing RPM on the website and the GitHub repository (e.g. README.md). For example, something like https://rpmfusion.org/keys but maybe more straightforward on the main web page.

[2019-02-01 12:14] thimslugga commented on #632
It seems this project has been abandoned. Time to fork and move on?

[2019-02-01 12:36] danstewart commented on #632
@gombosg The tool works on F29 we just haven't packaged it for F29.
There really shouldn't be any breaking changes with new versions since it's just a collection of bash scripts. I understand your caution, if it helps you can always run the install scripts directly.

@thimslugga Not abandoned, it's just that only one of us can do a release and @sudoforge hasn't had time to do this unfortunately.

[2019-02-02 10:27] danstewart opened #640 "JRE install fails"
Fedora 29

Output
[code]

See here: https://ask.fedoraproject.org/en/question/128511/dnf-vs-rpm-difference-to-install-oracle-jdk/

[2019-02-02 10:31] danstewart commented on #632
@arakan94
Sorry, forgot about RPMFusion, this should be the full manual install instructions
[code]

Regarding the JRE I've raised it under issue #640
Looks like a bug in the JDK package according to [this](https://ask.fedoraproject.org/en/question/128511/dnf-vs-rpm-difference-to-install-oracle-jdk/)

[2019-02-02 10:46] arakan94 commented on #632
@danstewart perhaps it would be good to add these instructions to README.md and on the website :) If possible, of course.

[2019-02-02 12:53] danstewart commented on #632
I've managed to build the RPM for F29.
Unfortunately I don't have access to upload the RPM so for now I've just added it to the releases.
https://github.com/fedy/fedy/releases/tag/v4.6.1

If anyone has any issues let me know.

[2019-02-02 23:03] digiberk commented on #632
Suggestion: Why doesn't Fedy become a Flatpak app instead of having to manually add a repository? Therefore you avoid having repo-version mismatches and dependency mismatches. Not only will you open your program to a wider audience, it also makes installation a breeze!

[2019-02-19 13:02] cowboysmall commented on #632
Has this project been abandoned?

[2019-02-19 13:05] danstewart commented on #632
@cowboysmall No, I built the latest release 17 days ago.
I just don't have repo access so it needs to be installed manually.

https://github.com/fedy/fedy/releases/tag/v4.6.1

[2019-02-19 13:09] cowboysmall commented on #632
@danstewart  - yeah, I saw that, and of course thanks for doing this, but I still can't sync with the repo. Maybe the repo address has changed?

[2019-02-19 13:10] luzemario commented on #632
So, what's the difficulty to allow another guy to allow publishing releases?

Bad things happen when only one has the keys to the door, like this time.

I love this project, but it's taking too much time to resolve this issue.

Keep going, folks!!!

Em ter, 19 de fev de 2019 10:05, Dan Stewart <notifications@github.com>
escreveu:

[2019-02-19 13:13] danstewart commented on #632
@cowboysmall Sorry, that's what I'm saying. I don't have access to upload the latest release to the repo so it needs to be installed manually.

@luzemario Only @sudoforge has access.
Like I said, you can download the latest RPM from the releases for now until we get this sorted.

[2019-02-19 13:14] cowboysmall commented on #632
@luzemario - completely agree, and was going to make a similar point re: one person having the keys to the kingdom.

@danstewart - I also thought @digiberk was on to something - might be worth pursuing.

[2019-02-19 13:23] cowboysmall commented on #632
@danstewart - yeah, I got what you were saying, but don't you also need to provide a f29 repo? i.e. after manually installing it fails to sync with the fedy repo because there is no fedy repo for the latest release version. Or maybe I am misunderstanding something.

Here is the relevant entry from the fedy.repo file:

`baseurl=https://dl.folkswithhats.org/fedora/$releasever/`

so on a Fedora 29 sy

[2019-02-19 13:25] danstewart commented on #632
@cowboysmall Yeah, that's right, the issue is I don't have access to upload to dl.folkswithhats.org to add the new release.

[2019-02-19 13:45] sherold84 commented on #632
Set up a copr repo?
https://copr.fedorainfracloud.org/

[2019-02-19 13:59] cowboysmall commented on #632
@sherold84 - good idea.

[2019-02-21 10:02] danstewart commented on #632
I've spoke to @sudoforge and he's working on an automated build and deployment pipeline for Fedy.

[2019-02-21 12:40] MightyCreak commented on #632
I know it's cool to create a new system and all, but I think the priority is clearly to make a release first (Fedora 30 is due in a little more than two months!).

[2019-02-21 12:58] danstewart commented on #632
@MightyCreak There is a release, it's just not on the server

https://github.com/fedy/fedy/releases/tag/v4.6.1

The new pipeline will resolve the issue of only one person have server access as any time master is updated it will be deployed.

[2019-02-21 13:07] luzemario commented on #632
Sorry, but this solution will not resolve only one having access to the
server. Like cryptocurrency, if only one has the keys all coins are lost.

None of us will last forever, but this project is expected to exist while
Fedora exists, so in addition to the automated pipeline, I suggest you to
allow another guy to have access to the server.

Even forums have moderators, so is good practice to have

[2019-02-21 13:10] danstewart commented on #632
@luzemario Valid point.
I meant it would resolve the issue in terms of deploying the new release.

We'll try get access shared among the maintainers.

[2019-02-21 13:39] MightyCreak commented on #632
Sorry, I meant to _publish_ the release first, before investing all your time in the new pipeline.

@sudoforge could you give at least temporary access to one of the active members on this project so they can publish the release if you don't have the time?

Honest question: is it very complex to publish a release? I would have thought it was just about uploading the package on the server.

All tha

[2019-02-21 13:50] danstewart commented on #632
As far as I'm aware we just need to upload the RPM to the server.

I just don't have the key to upload to the server. @sudoforge manages the releases but has been busy and is currently out of the country.

[2019-02-23 03:41] fabianofranz commented on #632
If the project's home directs users to a given method to install the thing, and the thing isn't there; then no, there isn't a release.

[2019-02-23 14:20] danstewart commented on #632
I'm locking this as any valuable feedback has already been provided.
Thanks for the suggestions and apologies that it's taking so long to get this released.

### Summary of the issue
Only one of the maintainers has server access to upload new releases. That maintainer has not been able to do this due to other commitments. We will address this going forward.

### Workarounds
#### Install RPM manual

[2019-03-05 23:38] sudoforge commented on #639
Much to my chagrin and dismay, Fedy's releases are not currently signed. This is in the pipeline, though, and we may see this later in the year.

[2019-03-11 20:18] danstewart commented on #640
Fixed - https://github.com/fedy/fedy/commit/923468dcb9bb3fb29ad027a0a4610b8c50a8cfc3

[2019-03-11 20:18] #640 closed

[2019-03-19 17:08] svenevs opened #644 "Dino icon image too large?"
Just installed from source following directions here https://github.com/fedy/fedy/issues/632#issuecomment-466655124

![dino](https://user-images.githubusercontent.com/5871461/54626501-80b7f000-4a2e-11e9-9c0b-133a4dfa9cc1.png)

Should Dino be that big? I love the icon so it doesn't matter much to me.  I tried to look around but am not very familiar with how fedy works...happy to provide any testing

[2019-03-19 17:14] sudoforge commented on #644
Well, you can't expect a _dinosaur_ to be small and byte-sized, now can you? :)

Thanks for noticing this. I'll spin up a VM and attempt to recreate it as soon as I am able.

[2019-04-21 16:10] sudoforge opened #648 "The Fedy repository should provide default issue templates."
Issue templates will help us move towards formatted input for bug reports and feature requests.

[2019-04-21 16:28] sudoforge opened #650 "RPM build script(s) should be added to the git repository"
Providing an easy and automated way to build the RPM repository and packages would simplify contribution and deployment.

[2019-04-23 01:10] #648 closed

[2019-04-28 09:45] souhaiebtar commented on #634
what i did, to make it work,
[code]
than like said above

[code]
after launching,
now the application launch correctly but there still a problem with some icon,

to resolve that i installed papirus-icon-theme and switched to it
to install papirus-icon-theme, i used

[code]

[2019-05-03 08:00] krhlnx opened #651 "for Fedora 30"
Hi

Please release Fedy for Fedora 30...

[2019-05-04 00:42] JavascriptMike commented on #651
Good Afternoon from the Appalachian Mountains!
The land where we make great moonshine and great code fixes!

From a clean Fedora 30 install,  This is what you will need to type in to get it to work.

I went to the website,  https://www.folkswithhats.org/  on the front of the webpage,  There are 3 lines of code.  Run all 3 of them in the terminal
so do this.
Type in
**su -**
and then your password.

[2019-05-04 00:45] sudoforge commented on #651
@JavascriptMike I've deleted your comment to avoid confusing new and existing users. A release will be made for F30 tonight.

[2019-05-04 00:49] JavascriptMike commented on #651
Its rude to delete someones comment when they worked hard on solving the problem and took the time to post a result that works.
So are you the one developer left who is supposed to be working on the project to update it?

[2019-05-04 02:42] sudoforge commented on #651
I empathize with you. I appreciate the detailed comment, however, recommending that users run commands that will most definitely error, and subsequently recommend installing an outdated release, are not instructions that I would want other users following. I recognize that the intentions were good, and I definitely didn't mean to offend you by removing the comment.

That seems to be me and @danste

[2019-05-07 16:48] eyal0803 commented on #651
Hi @sudoforge. Did the release for F30 happen?

[2019-05-07 19:12] JavascriptMike commented on #651
Lets wait and give him a week or so to make "the release will be made for F30 tonight."  actually happen.   Its more than fair.
Its only been 4 days now,   A single programmer can run on coffee for about a week without food or water or sunlight.
After that we can pretty confidently proclaim him most likely dead from Folgers overdose.   ;)

[2019-05-08 04:41] shrimpster00 commented on #651
Hey, let's keep things civil here. Come on.

Thanks for your commitment to this project @sudoforge. I've been a Fedy user for years, and I am so glad for this tool. You're doing great and you're appreciated.
When life gets in the way, it gets in the way, and I'm sure we can all understand that. Don't forget that you are more important than this project.

[2019-05-13 04:59] #638 closed

[2019-05-13 05:01] sudoforge commented on #638
@jeffshee My apologies, this wasn't labeled appropriately and never got my attention. Is this still something you think would be a good idea? I don't use Gnome, so I'm not 100% sure how the above envvars would play out.

[2019-05-13 16:18] jeffshee commented on #638
@sudoforge Is fine tho =) It was my fault for not label it properly =P
The 1st one is for the theme engine setup. It works with most of the QT apps, (QT apps adopt the gtk theme so they look more integrated to the system itself), but will also potentially break some app, for example VirtualBox, which then require to clear such envvar before launch the app. So I'm not sure whether it is a good idea

[2019-05-14 13:21] sudoforge commented on #638
Sounds like something that might be user-specific, and should not be integrated into Fedy. Thanks for the suggestions, though!

[2019-05-15 16:52] OuTopos commented on #651
@sudoforge Thank you for all your work with Fedy. Without it Fedora is crippled in my opinion.

I have total understanding that you have other priorities in life and no one here has the right to demand anything of you.

However, would it be possible to involve more people so releasing fedy would not only depend on one person. My guess is that a lot of people would be willing to help ;)

Again, tha

[2019-05-22 07:15] atonal174 commented on #651
This is a joke.

So since cloning and installing from there works, it means fedy is actually working software. It's just not deployed. It just takes a couple of commands to deploy this onto any server.

@sudoforge It seems you're either too busy to spend ~15min it takes to deploy, or your schedule is too sporadic where one day you have time to type lengthy comments saying you'd deploy by the end o

[2019-05-23 14:24] wheeler01 commented on #651
I am a proud Fedy user. I am thankful the project exists. I admit I miss the days of RPM Fedy. That said, let us not forget, @sudoforge and @danstewart are freely giving of their time to make the lives of Fedora/Fedy users easier. I for one am grateful for what the have done and continue to do. I also hope for continued success of the project. While I'm at it, come on folks, a git clone is not tha

[2019-05-24 13:29] atonal174 commented on #651
@wheeler01 A git clone is not hard at all, and it works! But the same logic goes for building and deploying it. It's less than 5 commands.

Kudos to @sudoforge for working on it so far, but nobody is forcing him to dedicate his free time that he clearly doesn't have, to this project. He accepted the responsibility from someone else here. He was doing a good job, but if he can't do it any longer, h

[2019-05-24 13:59] wheeler01 commented on #651
I would point out that if you know git clone is not hard and it works (your words) then try being grateful for what has been given to the community, instead of spotlighting what you think is missing, in a manner that not only detracts from the efforts of others and the project but, also makes something into a problem that has a solution which (by your own admission) "is not hard at all, and it wor

[2019-05-24 14:14] atonal174 commented on #651
@wheeler01

I am grateful. I said it in my previous comment.

However I was in too many projects that died for absolutely no reason. Almost all start dying exactly like this, and almost all get "glass half-full" comments like yours e.g. Arc theme died for having its keys expired! Initial forking attempts also failed because people where busy thanking the original developer who went awol.

System s

[2019-05-24 14:45] wheeler01 commented on #651
I understand and respect your point. My point (which I think is being missed) is that this is a free-of-charge gift the developers have chosen to offer to the community. As a trained software and network engineer, who has done both for quite a while, I have an understanding of what demands any project can have. Also, you are right, I have seen many projects follow the path you described. The fact

[2019-05-24 14:53] danstewart commented on #651
@wheeler01

Do you mean JRE? If so that's fixed: 923468dcb9bb3fb29ad027a0a4610b8c50a8cfc3
If you do mean JDK could you open an issue describing the problem.

If you have issues with any plugins please raise it as an issue.

---

We understand it's more convenient using `dnf` and having fedy auto update but for the time being I suggest installing from source until we get the workflow sorted.

[2019-05-25 12:14] danstewart commented on #644
PR #652 resizes the icons until a better fix is implemented.

Looks like we only scale the icons if they exist on the icon pack you use - if we use the icon that's bundled with fedy we just display it as the actual size.

Unsure why this only happens when building from source though...

[2019-05-29 13:06] #639 closed

[2019-05-29 13:07] #651 closed

[2019-05-29 13:41] sudoforge commented on #651
For those who have offered to help, or who have suggested that I "relinquish control" (as if I'm barricading others from helping out), feel free to start digging through the issue backlog and contribute patches, comment on old issues, rewrite the gui and cli, refactor the deployment process, set up integration tests, convert plugins to `*.rpm` packages, or contribute in any way that you see fit.

[2019-05-29 13:42] sudoforge commented on #651
That said, the above ref(s) close this issue out. Fedy is now generally available for F30 and F31.

Locking conversation.

[2019-05-29 14:00] #644 closed

[2019-06-29 02:47] banzeraaaa commented on #166
I have the same issue, I tried everything and nothing works... Could you help me? Please :)

[2019-06-29 02:48] sudoforge commented on #166
@banzeraaaa Can you expand on "tried everything"? Have you cleaned your local cache?

[2019-06-29 03:13] banzeraaaa commented on #166
@sudoforge Hi, thanks for the quick reply. I've already tried uninstalling and installing fedy, I've already cleaned the local cache. I tried everything I saw in the topics about bugfix and nothing works.

[2019-06-29 14:33] sudoforge commented on #166
@banzeraaaa I'm unable to reproduce this in a Docker container:

[code]

[2019-06-29 15:17] sudoforge commented on #166
@banzeraaaa For sanity's sake, can you try running `sudo dnf clean all`, and then attempting to reinstall Fedy?

[2019-06-30 19:04] danstewart commented on #616
Full list from a fresh F30 install

### Apps
- [ ] Brave Browser
- [ ] Dropbox
- [ ] Google Chrome
- [ ] Google Play Music Desktop Player
- [ ] HandBrake
- [ ] Hangouts Plugin
- [ ] Master PDF editor
- [ ] Only Office
- [ ] PeaZip
- [ ] Popcorn Time
- [ ] Quilter
- [ ] Resilio Sync
- [ ] Signal Desktop
- [ ] Skype
- [ ] Spotify
- [ ] Steam
- [ ] Syncthing
- [ ] Teamviewer
- [ ] Telegram
- [ ] Vibe

[2019-06-30 19:08] danstewart opened #655 "Large Icons"
**Describe the bug**
Related to #644
Lutris, Mixxx DJ Software, Zoom and Postman icons are all too large on a fresh F30 install.

---

**Screenshots**
![image](https://user-images.githubusercontent.com/10670565/60400953-77303f00-9b6a-11e9-87cf-dcac6fd9c35f.png)

---

**Version Information:**
Please run the following commands in the terminal and provide the output after the colon:
- `rpm -qi fedy`:

[2019-07-11 08:30] f6p opened #657 "Too many arguments to function GLib.timeout_add"
I recently installed fedy.

When I try to install application (like chrome or skype for example) "Task failed!" notification pops up. When I start fedy from terminal after clicking application install button the output shows:
[code]
System: Fedora 30.

[2019-07-13 12:06] danstewart commented on #657
Thanks for the bug report.
PR #658 resolves the issue with the notification always saying failed.
PR #659 resolves an additional issue with the chrome install.

[2019-07-13 13:10] #657 closed

[2019-07-13 13:11] #655 closed

[2019-07-30 21:23] pscheid92 commented on #551
Is this still an issue? Maybe I can write a small tool for you?

[2019-07-31 01:13] sudoforge commented on #551
@pscheid92 Thanks for the poke. This is still an open issue -- the past year has been extremely busy for me and I've had difficulty allocating enough of my free time to build out the CI/CD tooling for Fedy that I want to.

There are a few considerations to take while resolving this issue, namely, how this should be built. I'm in the process of migrating all of my services and supporting infrastruc

[2019-08-02 10:49] pscheid92 commented on #551
Hmm, maybe I could try to write a small go service scraping the Fedora release information. I think my first step should be a small proof of concept. I'm not sure how I to implement it, but I would love to give it a try.

In the end, the service could run in a Docker container publishing a web-endpoint?

[2019-08-02 15:34] sudoforge commented on #551
If you're asking what the PoC criteria would be, I'd say that something that:

- Reliably parses the release page and selects the current and future versions
- Stores any newly parsed versions in state (eg a file at a specific path, I can abstract this out to a database later)

Triggering builds, etc can be added at a later date. A containerized service and Golang is preferred.

[2019-08-02 17:20] sudoforge commented on #551
Actually, I've re-read my earlier comments in this thread and think that polling the Docker API might be a more reliable way to detect versions.

[2019-08-02 19:04] pscheid92 commented on #551
I'm not sure if this will work as expected, but maybe I misunderstand your idea.
You want to get the version tags from Docker HUB, right?

Yesterday, they created a tag for the upcoming 31 release (currently same as rawhide tag). But according to the release schedule, the beta release is planned for the end of September. So we would trigger two months early.

[2019-08-02 19:06] sudoforge commented on #551
@pscheid92 Yes, that's the goal.

Some users may test against self-compiled Fedora. Some may test against rawhide, some may test against alpha, some beta, etc. The goal of this issue is to ensure Fedy is built and available to all users, regardless of the version of Fedora that they are running.

[2019-08-02 19:13] pscheid92 commented on #551
Then the Docker API is perfect :+1:
I'm going to start with the PoC in an own repository this weekend, and publish the link here later.

[2019-08-02 19:17] sudoforge commented on #551
You can just add it in a directory here.

[2019-08-21 14:20] bnied opened #660 "Site is offline"
**Describe the bug**
The Fedy site is offline.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to browse to http://www.folkswithhats.org/
2. Watch site time out.
3. Try to sync Fedy repo.
4. Get the following:
[code]

**Expected behavior**
http://www.folkswithhats.org/ should work.

**Version Information:**
Please run the following commands in the terminal and provide the output after th

[2019-08-21 14:26] sudoforge commented on #660
@satya164 It appears that your domain registration lapsed.

I can migrate everything to another domain, but this will take some time.

[2019-08-21 21:26] kwizart commented on #660
I would recommend  to move to RPM Fusion instead.

[2019-08-21 21:30] sudoforge commented on #660
@kwizart That's on my agenda for this year. Don't worry, your RFC (#466) hasn't been rejected and is, generally speaking, something I see as beneficial.

[2019-08-21 22:07] kwizart commented on #660
The good news is that "this year" can be "today" ;)
https://bugzilla.rpmfusion.org/show_bug.cgi?id=5365

I will hand-over the package to you if you create a bugzilla and RPM Fusion (FAS) accounts
See https://rpmfusion.org/Contributors

[2019-08-21 22:18] sudoforge commented on #660
Please close that issue and delete your sources; we're not currently ready to transition to RPMFusion. A story needs to be created around changes to the yum repository configuration file, the various subpackages we host, and the build pipeline. If you add that in, package names will conflict.

Feel free to reach out to me via email or on #466 for additional information.

[2019-08-21 22:27] kwizart commented on #660
We can discuss this publicly on #rpmfusion  IRC freenodes. (CET time, it's late for me).

[2019-08-21 22:32] sudoforge commented on #660
Sure, I'll drop in.

[2019-08-22 08:50] #628 closed